<div class="container small">
  <section class="usp">
    <div class="usp__wrapper">
      <div class="usp__item">
        <div class="usp__item-icon">
          <span class="icon-usp-shipping"></span>
        </div>
        <div class="usp__item-content">
          <p class="usp__item-title">Free shipping over 100 EUR</p>
          <p class="usp__item-text">Once your order surpasses that amount we will ship it for free.</p>
        </div>
      </div>
      <div class="usp__item">
        <div class="usp__item-icon">
          <span class="icon-usp-delivery"></span>
        </div>
        <div class="usp__item-content">
          <p class="usp__item-title">Ready to ship in 3-5 business days</p>
          <p class="usp__item-text">You never have to wait long for your custom printed fabrics.</p>
        </div>
      </div>
      <div class="usp__item">
        <div class="usp__item-icon">
          <span class="icon-usp-quality"></span>
        </div>
        <div class="usp__item-content">
          <p class="usp__item-title">Excellent quality at a good price</p>
          <p class="usp__item-text">Order with bulk discounts or have your order priced individually.</p>
        </div>
      </div>
      <div class="usp__item">
        <div class="usp__item-icon">
          <span class="icon-usp-eco"></span>
        </div>
        <div class="usp__item-content">
          <p class="usp__item-title">GOTS and OEKO-TEX® Standard 100</p>
          <p class="usp__item-text">We are GOTS (Global Organic Textile Standard) and OEKO-TEX® Standard 100 certified.</p>
        </div>
      </div>
    </div>
  </section>
</div>

{% schema %}
  {
    "name": "Badges",
    "presets": [
      {
        "name": "Badges"
      }
    ]
  }
{% endschema %}