<div class="main_container">
  <section class="basic-header home-page">
    <div class="basic-header__content">
      <h1 class="basic-header__title pink">
        We print on
        <span>cotton fabrics.</span>
      </h1>
      <p class="basic-header__text">
        Flexible fabric printing service for all sewists and crafters
        <span>Order from 1 up to 5000 metres!</span>
      </p>
      <div class="cta-btn">
        <a class="text-link" href="/pages/print-steps">
          <span>Learn more</span>
        </a>
        <a class="btn_pink" href="pages/buy-now">
          <span>BUY NOW</span>
        </a>
      </div>
    </div>
    <div class="basic-header__img"></div>
    <a class="gots-badge" href="/en/gots-certified">
      <img
        data-src="/assets/front/icons/logo-gots-412de10bc137ac493697eb6bba9679f70597ea87865130e3a7c7b38a56100ea2.svg"
        alt="GOTS Certificate - Global Organic Textile Standard"
        class="lozad"
        src="https://ctnbee.com/assets/front/icons/logo-gots-412de10bc137ac493697eb6bba9679f70597ea87865130e3a7c7b38a56100ea2.svg"
        data-loaded="true">
      <p></p>
      <span>Certified by Control Union CU1099579</span>
    </a>
    <a class="oekotex-badge" href="/en/oeko-tex-certificate">
      <img
        data-src="/assets/front/oekotex/oekotex-d35e2bff956caa28020d476534daaf021a6eec4385f273a3f4fd339409d873e7.svg"
        alt="OEKO-TEX certificate"
        class="lozad"
        src="https://ctnbee.com/assets/front/oekotex/oekotex-d35e2bff956caa28020d476534daaf021a6eec4385f273a3f4fd339409d873e7.svg"
        data-loaded="true">
      <p>IW 00399 Łukasiewicz-ŁIT</p>
      <span>Tested for harmful substances.</span>
      <span>www.oeko-tex.com/standard100</span>
    </a>
    <div
      class="rating"
      itemscope=""
      itemtype="https://schema.org/LocalBusiness">
      <span class="rating__stars-text fixed" itemprop="name">CottonBee</span>
      <div
        class="rating__wrapper"
        itemprop="aggregateRating"
        itemscope=""
        itemtype="https://schema.org/AggregateRating">
        <div class="rating__value">
          <p class="rating__value-large" itemprop="ratingValue">
            4.90
          </p>
          <p class="rating__value-small">/<span itemprop="bestRating">5</span>
          </p>
        </div>
        <div class="rating__stars">
          <div class="rating__stars-wrapper">
            <div class="rating__stars-item"></div>
            <div class="rating__stars-item"></div>
            <div class="rating__stars-item"></div>
            <div class="rating__stars-item"></div>
            <div class="rating__stars-item"></div>
          </div>
          <p class="rating__stars-text">based on
            <span itemprop="ratingCount">4631</span>
            reviews</p>
        </div>
      </div>
    </div>

  </section>
</div>
{% schema %}
  {
    "name": "Basic Section",
    "presets": [
      {
        "name": "Basic Section"
      }
    ]
  }
{% endschema %}