<div class="container small">
  <div
    class="banner"
    data-placeholder-code="home"
    data-loaded="true">
    <div>
      <a
        target="_self"
        id="home-pes_23"
        href="https://ctnbee.com/en/printing-on-polyester">
        <img alt="CottonBee" src="https://ctnbee.com/uploads/banner/image_en/29/poliestry-baner-1124x188-en.jpg">
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner Small",
    "presets": [
      {
        "name": "Banner Small"
      }
    ]
  }
{% endschema %}