<div class="container small">
  <div class="business-box">
    <div class="business-box__item">
      <div>
        <p class="business-box__title">For crafters and sewists</p>
        <ul>
          <li>no minimum order quantity</li>
          <li>always print as much as you need</li>
          <li>5 business days fulfilment time</li>
        </ul>
      </div>
      <div class="business-box__wrapper">
        <a class="btn_white mr-b" href="/pages/upload">Upload your design</a>
        <a class="btn_pink" href="#">Print from a catalogue</a>
      </div>
    </div>
    <div class="business-box__item">
      <div>
        <p class="business-box__title">For business</p>
        <ul>
          <li>flexible offer tailored to your business’s needs</li>
          <li>bulk discounts</li>
          <li>competitive turnaround times</li>
        </ul>
      </div>
      <div class="business-box__wrapper">
        <a class="btn_pink" href="/en/for-business">See business offer</a>
      </div>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Business box",
    "presets": [
      {
        "name": "Business box"
      }
    ]
  }
{% endschema %}