<div class="content-main-wrapper">
  <a
    style="color: rgb(255, 255, 255); background-color: rgb(233, 0, 95); top: 323px;"
    class="first-fiche-button-link js-fiche hidden"
    id="f-for-business-front_pages_how_start"
    href="/pages/for-business">
    For business</a>
  <a
    style="color: rgb(255, 255, 255); background-color: rgb(116, 183, 96); top: 500px;"
    class="second-fiche-button-link js-fiche hidden"
    id="f-gots-front_pages_how_start"
    href="/pages/gots-fabrics">
    GOTS fabrics</a>
</div>

{% schema %}
  {
    "name": "Business fabrics",
    "presets": [
      {
        "name": "Business fabrics"
      }
    ]
  }
{% endschema %}