<div class="container small">

  <section class="home-section business">
    <p class="home-section__label">#BUSINESS</p>
    <h2 class="home-section__header">Made to measure textile printing for
      <span>sustainable brands in fashion and home decor industry.</span>
    </h2>
    <a class="btn_pink" href="/en/for-business">
      <span>See business offer
      </span>
    </a>
  </section>
</div>

{% schema %}
  {
    "name": "Business Has",
    "presets": [
      {
        "name": "Business Has"
      }
    ]
  }
{% endschema %}