<section class="colors-map">
  <div class="container">
    <div class="colors-map__wrapper">
      <div class="colors-map__img">
        <picture>
          <source type="image/webp" srcset="https://ctnbee.com/assets/front/colors-map/map-color-main-6580a095976f109caaab971c246ad046b16ac731130cc5208c202e96f1f0efac.webp">
          <source type="image/jpg" srcset="/assets/front/colors-map/map-color-main-8cf96d5c9184f52279df9da4dcbe84b8ce6936f2ed354d69c2dd532b8e976039.jpg">
          <img
            data-src="/assets/front/colors-map/map-color-main-8cf96d5c9184f52279df9da4dcbe84b8ce6936f2ed354d69c2dd532b8e976039.jpg"
            alt="CMYK color guide printed on sewing fabric"
            class="lozad"
            src="https://ctnbee.com/assets/front/colors-map/map-color-main-6580a095976f109caaab971c246ad046b16ac731130cc5208c202e96f1f0efac.webp"
            data-loaded="true">
        </picture>
      </div>
      <div class="colors-map__content">
        <h2 class="colors-map__title">CottonBee color guide!</h2>
        <p class="colors-map__text">Order color guide for
          <b>5 EUR/GBP with free delivery</b>. Colours may vary between types of fabric. Want to know the possibilities of fabric of your choice? We will print for you CMYK colour palette we use for fabric printing. <br><b>See, how colorful your project could be!</b>
        </p>
        <div class="colors-map__select-box">
          <div class="select-wrapper select arr_grey select250">
            <div class="select-wrapper colours_map_select select arr_grey select250 initialized">
              <span class="caret">▼</span><input
                type="text"
                class="select-dropdown"
                readonly="true"
                data-activates="select-options-135f74af-62f8-3690-00e8-ab2fb3c2e5d9"
                value="Choose fabric"><ul
                id="select-options-135f74af-62f8-3690-00e8-ab2fb3c2e5d9"
                class="dropdown-content select-dropdown"
                style="width: 250px; position: absolute; top: 0px; left: 0px; opacity: 1; display: none;">
                <li class="">
                  <span>Choose fabric</span>
                </li>
                <li class="optgroup">
                  <span>Organic cotton fabrics GOTS</span>
                </li>
                <li class="">
                  <span>Organic Single Jersey 200</span>
                </li>
                <li class="active selected">
                  <span>Organic Knit Rib 210</span>
                </li>
                <li class="">
                  <span>Organic Cotton Twill 240</span>
                </li>
                <li class="">
                  <span>Organic Cotton Canvas 185</span>
                </li>
                <li class="">
                  <span>Organic Cotton Percale 156</span>
                </li>
                <li class="">
                  <span>Organic Cotton Poplin 130</span>
                </li>
                <li class="">
                  <span>Organic Half Panama 230</span>
                </li>
                <li class="">
                  <span>Organic Loopback Jersey 250</span>
                </li>
                <li class="">
                  <span>Organic Cotton Satin 140</span>
                </li>
                <li class="optgroup">
                  <span>Knitted fabrics</span>
                </li>
                <li class="">
                  <span>Cotton Interlock 160</span>
                </li>
                <li class="">
                  <span>Single Jersey 230</span>
                </li>
                <li class="">
                  <span>Loopback Jersey 300</span>
                </li>
                <li class="">
                  <span>Cotton Single Jersey 170</span>
                </li>
                <li class="">
                  <span>Loopback Jersey 330</span>
                </li>
                <li class="">
                  <span>Loopback Jersey 250</span>
                </li>
                <li class="">
                  <span>Cotton Single Jersey</span>
                </li>
                <li class="">
                  <span>Single Jersey 200</span>
                </li>
                <li class="optgroup">
                  <span>Woven fabrics</span>
                </li>
                <li class="">
                  <span>Waffle 230</span>
                </li>
                <li class="">
                  <span>Mercerised Satin 140</span>
                </li>
                <li class="">
                  <span>Sofia</span>
                </li>
                <li class="">
                  <span>Linen</span>
                </li>
                <li class="">
                  <span>Panama 270</span>
                </li>
                <li class="">
                  <span>Satin 132</span>
                </li>
                <li class="">
                  <span>Cretonne 121</span>
                </li>
                <li class="">
                  <span>Voile 77</span>
                </li>
                <li class="">
                  <span>Gabardine 272</span>
                </li>
                <li class="optgroup">
                  <span>Polyester</span>
                </li>
                <li class="">
                  <span>Mesh stretch 140</span>
                </li>
                <li class="">
                  <span>Mesh birds eye 200</span>
                </li>
                <li class="">
                  <span>Polyester Single Jersey 220</span>
                </li>
                <li class="">
                  <span>Outdoor fabric 205</span>
                </li>
                <li class="">
                  <span>Mesh soft 140</span>
                </li>
                <li class="">
                  <span>Leggins Lycra Jersey 300</span>
                </li>
                <li class="">
                  <span>Softshell waterproof 320</span>
                </li>
                <li class="">
                  <span>Orthalion waterproof 60</span>
                </li>
                <li class="">
                  <span>Velour 280</span>
                </li>
                <li class="">
                  <span>Sport Lycra Jersey 230</span>
                </li>
                <li class="">
                  <span>Lining satin 105</span>
                </li>
                <li class="">
                  <span>Lining matte 55</span>
                </li>
                <li class="">
                  <span>Swimwear Lycra Jersey 220</span>
                </li>
              </ul>
              <select
                name="fabric_code"
                id="fabric_code"
                class="colours_map_select select arr_grey select250 initialized">
                <option value="">Choose fabric</option>
                <optgroup label="Organic cotton fabrics GOTS">
                  <option value="single_org_200">Organic Single Jersey 200</option>
                  <option value="knitrib_org_210">Organic Knit Rib 210</option>
                  <option value="twill_org_240">Organic Cotton Twill 240</option>
                  <option value="canvas_org_185">Organic Cotton Canvas 185</option>
                  <option value="perkal_org_156">Organic Cotton Percale 156</option>
                  <option value="popelina_org_130">Organic Cotton Poplin 130</option>
                  <option value="panama_org_230">Organic Half Panama 230</option>
                  <option value="dres_org_250">Organic Loopback Jersey 250</option>
                  <option value="satyna_org_140">Organic Cotton Satin 140</option>
                </optgroup>
                <optgroup label="Knitted fabrics">
                  <option value="interlock_160">Cotton Interlock 160</option>
                  <option value="single_230">Single Jersey 230</option>
                  <option value="dres_300">Loopback Jersey 300</option>
                  <option value="single_170">Cotton Single Jersey 170</option>
                  <option value="dres_330">Loopback Jersey 330</option>
                  <option value="dres_250">Loopback Jersey 250</option>
                  <option value="single_180">Cotton Single Jersey</option>
                  <option value="single_200">Single Jersey 200</option>
                </optgroup>
                <optgroup label="Woven fabrics">
                  <option value="waffle_240">Waffle 230</option>
                  <option value="satyna_merc_140">Mercerised Satin 140</option>
                  <option value="sofia_260">Sofia</option>
                  <option value="plotno_230">Linen</option>
                  <option value="panama_270">Panama 270</option>
                  <option value="satyna_132">Satin 132</option>
                  <option value="kreton_121">Cretonne 121</option>
                  <option value="woal_77">Voile 77</option>
                  <option value="gabardyna_272">Gabardine 272</option>
                </optgroup>
                <optgroup label="Polyester">
                  <option value="p_meshstret_140">Mesh stretch 140</option>
                  <option value="p_mesheye_200">Mesh birds eye 200</option>
                  <option value="p_jsingle_220">Polyester Single Jersey 220</option>
                  <option value="p_outdoor_205">Outdoor fabric 205</option>
                  <option value="p_meshsoft_140">Mesh soft 140</option>
                  <option value="p_jleggins_300">Leggins Lycra Jersey 300</option>
                  <option value="p_soft_320">Softshell waterproof 320</option>
                  <option value="p_ort_60">Orthalion waterproof 60</option>
                  <option value="p_wel_280">Velour 280</option>
                  <option value="p_sjl_230">Sport Lycra Jersey 230</option>
                  <option value="p_linsat_105">Lining satin 105</option>
                  <option value="p_linmat_55">Lining matte 55</option>
                  <option value="p_jswim_220">Swimwear Lycra Jersey 220</option>
                </optgroup>
              </select>
            </div>
          </div>
          <button
            name="button"
            type="button"
            class="colours_map_button btn_pink"
            data-select="fabric_code">order COLOR GUIDE</button>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Color guide",
    "presets": [
      {
        "name": "Color guide"
      }
    ]
  }
{% endschema %}