<div class="print-fabric">
  <h2 class="sku-title">Print your custom fabric</h2>
  <div class="print-fabric__row">
    <div class="print-fabric__img">
      <picture>
        <source type="image/webp" srcset="https://ctnbee.com/assets/front/sku/sku-print-fabric2-3449c60fa86340360b68baa47b83e8718ae13f019c492da81c994896ba642a09.webp">
        <source type="image/jpg" srcset="/assets/front/sku/sku-print-fabric2-190a8ebd674b4a418961a3f6cc9e27678567b5e94150b2830ef57f032befa056.jpg">
        <img
          data-src="/assets/front/sku/sku-print-fabric2-190a8ebd674b4a418961a3f6cc9e27678567b5e94150b2830ef57f032befa056.jpg"
          alt="CottonBee"
          class="lozad"
          src="/assets/front/sku/sku-print-fabric2-190a8ebd674b4a418961a3f6cc9e27678567b5e94150b2830ef57f032befa056.jpg"
          data-loaded="true">
      </picture>
      <a class="gots-badge" href="/en/gots-certified">
        <img
          data-src="/assets/front/icons/logo-gots-412de10bc137ac493697eb6bba9679f70597ea87865130e3a7c7b38a56100ea2.svg"
          alt="GOTS Certificate - Global Organic Textile Standard"
          class="lozad"
          src="https://ctnbee.com/assets/front/icons/logo-gots-412de10bc137ac493697eb6bba9679f70597ea87865130e3a7c7b38a56100ea2.svg"
          data-loaded="true">
        <p></p>
        <span>Certified by Control Union CU1099579</span>
      </a>
      <a class="oekotex-badge" href="/en/oeko-tex-certificate">
        <img
          data-src="/assets/front/oekotex/oekotex-d35e2bff956caa28020d476534daaf021a6eec4385f273a3f4fd339409d873e7.svg"
          alt="OEKO-TEX certificate"
          class="lozad"
          src="https://ctnbee.com/assets/front/oekotex/oekotex-d35e2bff956caa28020d476534daaf021a6eec4385f273a3f4fd339409d873e7.svg"
          data-loaded="true">
        <p>IW 00399 Łukasiewicz-ŁIT</p>
        <span>Tested for harmful substances.</span>
        <span>www.oeko-tex.com/standard100</span>
      </a>
    </div>
    <div class="print-fabric__content">
      <div class="print-fabric__item">

        <img
          class="icon icon--check"
          src="https://www.svgrepo.com/show/422280/correct-success-tick.svg"
          alt="">
        <p class="print-fabric__item-text">
          Excellent print quality
          <span>Sharp details and vivid colours.</span>
        </p>
      </div>
      <div class="print-fabric__item">
        <img
          class="icon icon--check"
          src="https://www.svgrepo.com/show/422280/correct-success-tick.svg"
          alt="">
        <p class="print-fabric__item-text">
          Ready to ship in as little as 3 days
          <span>Fast fulfilment even for a last-minute project.</span>
        </p>
      </div>
      <div class="print-fabric__item">
        <img
          class="icon icon--check"
          src="https://www.svgrepo.com/show/422280/correct-success-tick.svg"
          alt="">
        <p class="print-fabric__item-text">
          State-of-the-art printing technology
          <span>Best in class industrial pigment ink and sublimation printing lines.</span>
        </p>
      </div>
      <div class="print-fabric__item">
        <img
          class="icon icon--check"
          src="https://www.svgrepo.com/show/422280/correct-success-tick.svg"
          alt="">
        <p class="print-fabric__item-text">
          Soft and smooth printed fabric touch
          <span>Quality textiles for home decor and everyday wear.
          </span>
        </p>
      </div>
      <div class="print-fabric__item">
        <img
          class="icon icon--check"
          src="https://www.svgrepo.com/show/422280/correct-success-tick.svg"
          alt="">
        <p class="print-fabric__item-text">
          Great light and washing fastness
          <span>&gt;7, ISO 105-B02 in lightfastness tests and 4-5, ISO 105-C06 in washing fastness tests.</span>
        </p>
      </div>
    </div>
  </div>
</div>



{% schema %}
  {
    "name": "Custom fabric",
    "presets": [
      {
        "name": "Custom fabric"
      }
    ]
  }
{% endschema %}