<section class="container xl">
  <section class="upload-block">
    <div class="upload-block__content">
      <div class="upload-block__content-img">
        <img src="https://www.svgrepo.com/show/450370/upload.svg" alt="">
      </div>
      <div class="upload-block__wrapper">
        <p class="upload-block__title">Print your design</p>
        <p class="upload-block__text">Create your custom sewing fabric! Choose an image you want printed on a fabric and we will print it for you on cotton woven or knit fabrics.
        </p>
        <div class="upload-block__btn">
          <a class="btn_pink" href="/pages/upload">UPLOAD FILE</a>
        </div>
      </div>
    </div>
    <div class="upload-block__img">
      <img
        data-src="/assets/front/landing/cotton/print-cushion-94bf25ccfadfa43fb4ac9dc505586fb5250e294fb435989c6c02eba5d7026660.png"
        alt="CottonBee"
        class="lozad"
        src="https://ctnbee.com/assets/front/landing/cotton/print-cushion-94bf25ccfadfa43fb4ac9dc505586fb5250e294fb435989c6c02eba5d7026660.png"
        data-loaded="true">
    </div>
    <div class="upload-block__content">
      <div class="upload-block__content-img">
        <img src="https://www.svgrepo.com/show/444805/files.svg" alt="">
      </div>
      <div class="upload-block__wrapper">
        <p class="upload-block__title">See pattern collection</p>
        <p class="upload-block__text">Our catalogue contains over a million of miscellaneous, seamless patterns to choose from. We compile them into themed categories to inspire you and make that decision a bit easier.</p>
        <div class="upload-block__btn">
          <a class="btn_pink" href="/en/collections/fabric">SEE THE CATALOGUE</a>
        </div>
      </div>
    </div>
  </section>
</section>

{% schema %}
  {
    "name": "Design Collection",
    "presets": [
      {
        "name": "Design Collection"
      }
    ]
  }
{% endschema %}