<div class="container small">
  <section class="home-section eko">
    <p class="home-section__label">#eco</p>
    <h2 class="home-section__header">
      <span>Green printing technology</span>
      with minimised consumption of water, energy and chemical substances</h2>
    <p class="home-section__text">
      <b>Our certifications:</b>
      We are GOTS (Global Organic Textile Standard) and OEKO-TEX® Standard 100 certified.</p>
    <a class="btn_pink" href="/en/sustainability">
      <span>Read our eco statement</span>
    </a>
  </section>
</div>

{% schema %}
  {
    "name": "Eco Has",
    "presets": [
      {
        "name": "Eco Has"
      }
    ]
  }
{% endschema %}