<section class="upload-faq">
  <div class="container">
    <div class="faq-box">
      <h3 class="faq-box__title">How to prepare a file for fabric printing?</h3>
      <div class="faq-box__wrapper">
        <div class="faq-box__item">
          <p class="faq-box__item-title">What parameters should a file have?</p>
          <p class="faq-box__item-text">We accept closed files in jpg, png and tiff formats (with LZW compression). They can’t be bigger than 10 000 x 10 000 px and 25 MB. Before you upload a file, make sure there are no pixels or unwanted elements as we don’t interfere in files and print exactly what we receive (according to settings in an order). In case of big files, email us at
            <a href="mailto: help@ctnbee.com">help@ctnbee.com</a>
            or call + 48 516 278 821</p>
        </div>
        <div class="faq-box__item">
          <p class="faq-box__item-title">What colour model do you use?</p>
          <p class="faq-box__item-text">We use CMYK colour model, U.S. Web Coated (SWOP) v2 profile. It is an essential aspect of file preparation as colours displayed on a monitor might differ from colours printed on fabric. Final colour of print depends on a fabric type as well. In case of doubts, we recommend to order colour maps or a sample of your design printed on fabric. The sample is 2.49 EUR/GBP regardless of fabric type.</p>
        </div>
        <div class="faq-box__item">
          <p class="faq-box__item-title">Do you print patterns only?</p>
          <p class="faq-box__item-text">No, we don’t. We print everything what is uploaded. That can be a dress pattern, poster, photo or anything else you need. If your file is technically correct, we print it. Before uploading a file and placing an order, make sure it has required parameters. In our printing house we don’t interfere in files received from our customers. After a file is uploaded, a preview shows your design and gives you an idea of what it looks like when printed on fabric.</p>
        </div>
        <div class="faq-box__item">
          <p class="faq-box__item-title">What size of printed fabric can I get?</p>
          <p class="faq-box__item-text">We can print even a small piece of your fabric! You can start from a 20x20cm sample for 2.49 EUR/GBP regardless which fabric type you choose. If you need a bigger sample, perhaps a 48x48cm swatch is a good choice for 4.99 EUR/GBP no matter what fabric you’d like to order. We also print full running metres and their price depends on a type of fabric you would like to print your design on. Fabrics differ in their maximum printable area which is between 140 cm and 156 cm.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "FAQ Box",
    "presets": [
      {
        "name": "FAQ Box"
      }
    ]
  }
{% endschema %}