<section id="featured" data-loaded="true">
  <h2 class="subtitle-main">Featured pattern collections</h2>
  <div class="item_wrapper">
    <div class="col left_side">
      <a class="single_item big_item" href="/en/collections/fabric/zodiac">
        <img src="https://ctnbee.com/uploads/collection/home_image/104/zodiac-design-fabric.jpg" alt="CottonBee">
        <h2>Zodiac signs</h2>
        <span class="big-link">See more</span>
      </a>
      <a class="single_item" href="/en/collections/fabric/art">
        <img src="https://ctnbee.com/uploads/collection/home_image/105/art-design-fabric.jpg" alt="CottonBee">
        <h2>Works of art</h2>
        <span class="small-link"></span>
      </a>
      <a class="single_item" href="/en/collections/fabric/feminine">
        <img src="https://ctnbee.com/uploads/collection/home_image/96/faminine-design-fabric.jpg" alt="CottonBee">
        <h2>Feminine</h2>
        <span class="small-link"></span>
      </a>
    </div>
    <div class="col right_side">
      <a class="single_item" href="/en/collections/fabric/valentine-heart">
        <img src="https://ctnbee.com/uploads/collection/home_image/11/hearts-design-fabric.jpg" alt="CottonBee">
        <h2>Heart patterns</h2>
        <span class="small-link"></span>
      </a>
      <a class="single_item" href="/en/collections/fabric/pizza">
        <img src="https://ctnbee.com/uploads/collection/home_image/89/pizza-design-fabric_v2.jpg" alt="CottonBee">
        <h2>Pizza</h2>
        <span class="small-link"></span>
      </a>
      <a class="single_item big_item" href="/en/collections/fabric/wild-animal">
        <img src="https://ctnbee.com/uploads/collection/home_image/82/wild-animal-design-fabric.jpg" alt="CottonBee">
        <h2>The wild animal fabrics</h2>
        <span class="big-link">See more</span>
      </a>
    </div>
  </div>
  <div class="content">
    <a class="btn_white" href="/en/collections/fabric">See more fabrics collections</a>
  </div>
</section>
{% schema %}
  {
    "name": "Featured pattern",
    "presets": [
      {
        "name": "Featured pattern"
      }
    ]
  }
{% endschema %}