<nav class="nav">

  <a id="menu_toggle" class="toggle-menu">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </a>

  <div class="nav-left">
    <ul>
      <li class="has-submenu">
        <a class="menu-link" href="/en/digital-fabric-printing-online">FABRIC PRINTING</a>
        <div class="submenu-wrapper" style="display: none;">
          <div class="submenu">
            <ul class="submenu__list">
              <li class="submenu__list-item">
                <a class="submenu__list-link bold" href="/en/printing-on-cotton-fabric">Printing on cotton</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/digital-print-cretonne-fabric">Cretonne (121 gsm)</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-satin-online">Satin (132 gsm)</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-mercerised-satin">Mercerised satin (140 gsm)</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/custom-print-voile-fabric">Voile (77 gsm)</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-panama">Panama (270 gsm)</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-gabardine-fabric-online">Gabardine (272 gsm)</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-cotton-single-jersey-170">Cotton single jersey (170 gsm)</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/custom-print-interlock-fabric-on-demand">Interlock (160 gsm)</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/digital-printing-on-loopback-jersey-fabric-on-demand">Loopback jersey (250 gsm)</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link margin" href="/en/printing-on-cotton-fabric">See all &gt;</a>
              </li>
            </ul>
            <ul class="submenu__list border">
              <li class="submenu__list-item">
                <a class="submenu__list-link bold" href="/en/printing-on-organic-cotton">Printing on organic cotton</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-organic-cotton-poplin">Organic cotton poplin (130 gsm)<span>gots</span>
                </a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-organic-cotton-satin">Organic cotton satin (140 gsm)<span>gots</span>
                </a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-organic-cotton-percale">Organic cotton percale (156 gsm)<span>gots</span>
                </a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-organic-cotton-canvas">Organic cotton canvas (185 gsm)<span>gots</span>
                </a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-organic-cotton-half-panama">Organic cotton half panama (230 gsm)<span>gots</span>
                </a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-organic-cotton-single-jersey">Organic cotton single jersey (200 gsm)<span>gots</span>
                </a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-organic-cotton-loopback-jersey">Organic cotton loopback jersey (250 gsm)<span>gots</span>
                </a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link margin" href="/en/printing-on-organic-cotton">See all &gt;</a>
              </li>
            </ul>
            <ul class="submenu__list border">
              <li class="submenu__list-item">
                <a class="submenu__list-link bold" href="/en/printing-on-polyester">Printing on polyester</a>
              </li>

              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-mesh-fabric">Mesh soft (140 gsm)</a>
              </li>

              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/cyfrowy-druk-na-elanie">Polyester single jersey (220 gsm)</a>
              </li>

              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-swimwear-lycra-jersey">Swimwear lycra jersey (220 gsm)</a>
              </li>

              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/sublimation-fabric-printing-on-velour">Velour (280 gsm)</a>
              </li>

              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/digital-print-leggings-lycra-jersey">Leggings lycra jersey (300 gsm)</a>
              </li>

              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-lining-fabric-satin">Lining satin (105 gsm)</a>
              </li>

              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/custom-print-outdoor-fabric">Outdoor (205 gsm)</a>
              </li>

              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printing-on-softshell-waterproof">Softshell waterproof (320 gsm)</a>
              </li>

              <li class="submenu__list-item">
                <a class="submenu__list-link margin" href="/en/printing-on-polyester">See all &gt;</a>
              </li>
            </ul>
            <ul class="submenu__list border hidden">
              <li class="submenu__list-item">
                <p class="submenu__list-link bold">What do you want to sew?</p>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/baby-blankets-printed-fabrics">Baby blanket</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/fabric-for-cushions-with-print">Cushions</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printed-upholstery-fabrics-on-demand">Upholstery</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/bedding-fabrics">Kid's bedding</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/casual-clothes-fabrics">Casual clothes</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/custom-fabric-for-toys">Toys</a>
              </li>
              <li class="submenu__list-item">
                <a class="submenu__list-link" href="/en/printed-curtain-fabrics">Curtains</a>
              </li>
            </ul>
            <ul class="submenu__list border">
              <a class="menu-link border" href="/en/fabric-prices">Prices</a>
              <a class="menu-link border" href="/en/for-business">For business</a>
              <a class="menu-link border" href="/en/swatchbook">Order a Swatch Book</a>
              <a class="menu-link border" href="/en/colorguide">Order a Colour Guide</a>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a class="menu-link desktop-hidden sub" href="/en/printing-on-cotton-fabric">Printing on cotton</a>
      </li>
      <li>
        <a class="menu-link desktop-hidden sub" href="/en/printing-on-organic-cotton">Printing on organic cotton</a>
      </li>
      <li>
        <a class="menu-link desktop-hidden sub" href="/en/printing-on-polyester">Printing on polyester</a>
      </li>
      <li class="has-submenu">
        <a class="menu-link mobile-hidden" href="/en/collections/fabric">CATALOGUE</a>
        <div class="submenu-wrapper" style="display: none; height: 350px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
          <div class="submenu">
            <div class="submenu__list-wrapper">
              <a class="submenu__list-link bold" href="/en/collections/fabric">Check out our newest pattern collections to print on fabric</a>
              <div>
                <ul class="submenu__list">
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/monstera">Monstera leaves</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/spring-flowers">Floral</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/cherry-blossom">Cherry blossom</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/dots">Dots</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/dinosaurs">Dinosaurs</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/mermaid">Mermaids</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/african-pattern">African patterns</a>
                  </li>
                </ul>
                <ul class="submenu__list border">
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/stripes">Stripes</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/beach">Beach patterns</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/unicorn">Unicorns</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/exotic-jungle">Exotic jungle</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/black-and-white">Black&amp;white</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/nautical">Nautical</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/woodland">Woodland</a>
                  </li>
                </ul>
                <ul class="submenu__list border">
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/watercolor-cactuses">Watercolour cactuses</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/girls-bedding">Girls' bedding patterns</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/boys-bedding">Boys' bedding patterns</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/collections/fabric/valentine-heart">Hearts</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link margin" href="/en/collections/fabric">See all &gt;</a>
                  </li>
                </ul>
              </div>
            </div>
            <ul class="submenu__list">
              <picture>
                <source type="image/webp" srcset="/assets/front/menu-catalogue-8209bbd0b37121542437602545dc8393ac50040ae6f8df4284ab5218e30bdd26.webp">
                <source type="image/jpg" srcset="/assets/front/menu-catalogue-073b5ea0d62c52de241b7f0e4d5bb72d792a6b894fd7b48827f1bc62d34166f5.jpg">
                <img
                  data-src="/assets/front/menu-catalogue-073b5ea0d62c52de241b7f0e4d5bb72d792a6b894fd7b48827f1bc62d34166f5.jpg"
                  alt="Design your custom fabric"
                  class="lozad"
                  src="/assets/front/menu-catalogue-073b5ea0d62c52de241b7f0e4d5bb72d792a6b894fd7b48827f1bc62d34166f5.jpg"
                  data-loaded="true">
              </picture>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a class="menu-link desktop-hidden" href="/en/collections/fabric">CATALOGUE</a>
      </li>
      <li class="has-submenu">
        <p class="menu-link mobile-hidden">How it works</p>
        <div class="submenu-wrapper" style="display: none; height: 350px; padding-top: 0px; margin-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
          <div class="submenu">
            <div class="submenu__list-wrapper">
              <p class="submenu__list-link bold">Learn more about CottonBee</p>
              <div>
                <ul class="submenu__list">
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/for-business">For business</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/for-students">Student's discount</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/sustainability">Sustainability</a>
                  </li>
                </ul>
                <ul class="submenu__list border">
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/fabric-prices">Prices</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/gots-certified">GOTS certificate</a>
                  </li>
                  <li class="submenu__list-item">
                    <a class="submenu__list-link" href="/en/oeko-tex-certificate">OEKO-TEX certificate®</a>
                  </li>
                  <li class="submenu__list-item">
                    <a
                      target="_blank"
                      href="https://ctnbee.com/faq/en/"
                      rel="noopener"
                      class="submenu__list-link">
                      FAQ
                    </a>
                  </li>
                </ul>
                <ul class="submenu__list border">
                  <a class="menu-link border" href="/en/how-to-start">How to start?</a>
                  <a class="menu-link border" href="/en/buy-now">buy now</a>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a class="menu-link desktop-hidden" href="/en/how-to-start">How to start?</a>
      </li>
      <li>
        <a class="menu-link desktop-hidden" href="/en/fabric-prices">Prices</a>
      </li>
      <li>
        <a class="menu-link desktop-hidden" href="/en/for-business">For business</a>
      </li>
      <li>
        <a class="menu-link desktop-hidden" href="/en/swatchbook">ORDER FABRIC SWATCHBOOK</a>
      </li>
      <li>
        <a class="menu-link desktop-hidden" href="/en/contact">CONTACT US</a>
      </li>
      <li>
        <a class="menu-upload desktop-hidden" href="/en/designs">UPLOAD</a>
      </li>
    </ul>

    <div class="mobile_drop">
      <div class="selector-mobile">
        <p class="selector-mobile__label">language</p>
        <div class="selector js-open-drop">
          <div class="selector__item">
            <img src="/assets/front/flags/en-a646331a7048a45b6bb8cc2853bac95e019a1ec7d9db40c631005ab227c14e96.png" alt="CottonBee">
            <span class="caret"></span>
          </div>
          <div class="selector__menu">
            <a
              hreflang="pl"
              rel="alternate"
              class="jsDropLink"
              href="/pl">
              <img src="/assets/front/flags/pl-ba8c0d1f9fe8156647df7a556a17a79b9b99e203557a59850a7ff3666f5db316.png" alt="CottonBee">
            </a>
            <a
              hreflang="en"
              rel="alternate"
              class="active jsDropLink"
              href="/en">
              <img src="/assets/front/flags/en-a646331a7048a45b6bb8cc2853bac95e019a1ec7d9db40c631005ab227c14e96.png" alt="CottonBee">
            </a>
            <a
              hreflang="de"
              rel="alternate"
              class="jsDropLink"
              href="/de">
              <img src="/assets/front/flags/de-3380408e1abf0e2a256be5575bd540ea067f35b4984beade13aad0a332d43017.png" alt="CottonBee">
            </a>
            <a
              hreflang="fr"
              rel="alternate"
              class="jsDropLink"
              href="/fr">
              <img src="/assets/front/flags/fr-8e0e36cf4998ed9887b77dbb969b488558439cbbf87c2e2cc73c5009ab795a99.png" alt="CottonBee">
            </a>
          </div>
        </div>
      </div>
      <div class="selector-mobile">
        <p class="selector-mobile__label">currency</p>
        <div class="selector js-open-drop">
          <div class="selector__item">
            <img
              src="/assets/front/currency/eur-63d59f9e6d64403a7a045a861602ffdc08abea64aa52e1fbe52de1430a36c255.png"
              alt="CottonBee"
              class="noborder">
            <span class="caret"></span>
          </div>
          <div class="selector__menu">
            <a
              class="active jsDropLink"
              data-remote="true"
              rel="nofollow"
              data-method="patch"
              href="/currency?locale=en&amp;currency=eur">
              <img
                src="/assets/front/currency/eur-63d59f9e6d64403a7a045a861602ffdc08abea64aa52e1fbe52de1430a36c255.png"
                class="noborder"
                alt="CottonBee">
            </a>
            <a
              class="jsDropLink"
              data-remote="true"
              rel="nofollow"
              data-method="patch"
              href="/currency?locale=en&amp;currency=gbp">
              <img
                src="/assets/front/currency/gbp-2522ca5cca55ff760e9eaa45da402ef09788bdf953d7b8e51c79519b31481734.png"
                class="noborder"
                alt="CottonBee">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <a
    class="logo"
    href="/en"
    title="CottonBee">
    <img src="/assets/front/logo-2adaf45f40b67a3ab42cbef1f112542b535539d08f9a8922ca97a5640f858a23.svg" alt="CottonBee">
  </a>

  <div class="nav-right">

    <a class="menu-upload mobile-hidden" href="/en/designs">UPLOAD</a>

    <div class="selects">
      <div class="selector js-open-drop">
        <div class="selector__item">
          <img
            src="/assets/front/currency/eur-63d59f9e6d64403a7a045a861602ffdc08abea64aa52e1fbe52de1430a36c255.png"
            class="noborder"
            alt="CottonBee">
          <span class="caret"></span>
        </div>
        <div class="selector__menu">
          <a
            class="active jsDropLink"
            data-remote="true"
            rel="nofollow"
            data-method="patch"
            href="/currency?locale=en&amp;currency=eur">
            <img
              src="/assets/front/currency/eur-63d59f9e6d64403a7a045a861602ffdc08abea64aa52e1fbe52de1430a36c255.png"
              class="noborder"
              alt="CottonBee">
          </a>
          <a
            class="jsDropLink"
            data-remote="true"
            rel="nofollow"
            data-method="patch"
            href="/currency?locale=en&amp;currency=gbp">
            <img
              src="/assets/front/currency/gbp-2522ca5cca55ff760e9eaa45da402ef09788bdf953d7b8e51c79519b31481734.png"
              class="noborder"
              alt="CottonBee">
          </a>
        </div>
      </div>
      <div class="selector js-open-drop">
        <div class="selector__item">
          <img src="/assets/front/flags/en-a646331a7048a45b6bb8cc2853bac95e019a1ec7d9db40c631005ab227c14e96.png" alt="CottonBee">
          <span class="caret"></span>
        </div>
        <div class="selector__menu">
          <a
            hreflang="pl"
            rel="alternate"
            class="jsDropLink"
            href="/pl">
            <img src="/assets/front/flags/pl-ba8c0d1f9fe8156647df7a556a17a79b9b99e203557a59850a7ff3666f5db316.png" alt="CottonBee">
          </a>
          <a
            hreflang="en"
            rel="alternate"
            class="active jsDropLink"
            href="/en">
            <img src="/assets/front/flags/en-a646331a7048a45b6bb8cc2853bac95e019a1ec7d9db40c631005ab227c14e96.png" alt="CottonBee">
          </a>
          <a
            hreflang="de"
            rel="alternate"
            class="jsDropLink"
            href="/de">
            <img src="/assets/front/flags/de-3380408e1abf0e2a256be5575bd540ea067f35b4984beade13aad0a332d43017.png" alt="CottonBee">
          </a>
          <a
            hreflang="fr"
            rel="alternate"
            class="jsDropLink"
            href="/fr">
            <img src="/assets/front/flags/fr-8e0e36cf4998ed9887b77dbb969b488558439cbbf87c2e2cc73c5009ab795a99.png" alt="CottonBee">
          </a>
        </div>
      </div>
    </div>
    <ul class="right_menu">
      <li class="basket">
        <a
          class="apla-link menu-link"
          title="CottonBee"
          href="/en/cart">
          <svg
            class="icon icon--basket"
            width="22"
            height="22">
            <use href="#icon-basket" xlink:href="#icon-basket"></use>
          </svg>
          <span class="ordered_items">1</span>
        </a>
      </li>
      <li class="log">
        <a
          class="apla-link menu-link"
          title="CottonBee"
          href="/clients/sign_in?locale=en">
          <svg
            class="icon icon--account"
            width="18"
            height="18">
            <use href="#icon-account" xlink:href="#icon-account"></use>
          </svg>
          <span>Log in</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

{% schema %}
  {
    "name": "Nav Bar",
    "presets": [
      {
        "name": "Nav Bar"
      }
    ]
  }
{% endschema %}