<section class="swatch-section">
  <div class="swatch-section__wrapper">
    <div class="swatch-section__img">
      <picture>
        <source type="image/webp" srcset="https://ctnbee.com/assets/front/swatchbook/swatch-box-en-8bf24d3f83058a722609ae1271221213034d4c585952418f1ff1cb5177d09c07.webp">
        <source type="image/jpg" srcset="/assets/front/swatchbook/swatch-box-en-ebecfd601cd0f70186040f41a41f8c426a2db88e3670808bb3743b047a144e08.jpg">
        <img
          data-src="/assets/front/swatchbook/swatch-box-en-ebecfd601cd0f70186040f41a41f8c426a2db88e3670808bb3743b047a144e08.jpg"
          alt="Swatch book for fabric printing"
          class="lozad"
          src="https://ctnbee.com/assets/front/swatchbook/swatch-box-en-8bf24d3f83058a722609ae1271221213034d4c585952418f1ff1cb5177d09c07.webp"
          data-loaded="true">
      </picture>
    </div>
    <div class="swatch-content">
      <p class="swatch-content__title">Order CottonBee Swatch Book!</p>
      <p class="swatch-content__text">
        <b>For 1,99 EUR/GBP and free shipping</b>, you’ll get 9 x 9 cm swatches of all fabrics we print on.</p>
      <p class="swatch-content__eco">
        Swatch book includes
        <b>organic fabrics.</b>
        <span class="icon-organic-large"></span>
      </p>
      <div class="swatch-content__wrap">
        <a class="btn_pink btn-shadow buy_sampler_link" href="">
          Order a swatch book
        </a>
        <a class="btn_white" href="/en/swatchbook">Learn more</a>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Order book",
    "presets": [
      {
        "name": "Order book"
      }
    ]
  }
{% endschema %}