<div class="wrapper">
  <div class="container design-header">
    <h1 class="design-header__title">Sewing fabric Vector Snowflakes Pattern</h1>
    <p class="design-header__text">We digitally print on sewing fabric. Adjust the pattern, then
      <b>decide which fabric you would us to print it on.</b>
      Next choose the order size, add an item to the basket and it's done!</p>

    <p class="design-header__text margin">
      See all
      <a href="/en/collections/fabric/snowflakes">
        Snowflakes cotton woven and jersey sewing fabric
      </a>
    </p>
  </div>
</div>

{% schema %}
  {
    "name": "Product top",
    "presets": [
      {
        "name": "Product top"
      }
    ]
  }
{% endschema %}