<div class="eco-info__wrapper">
  <div class="eco-info">
    <p class="eco-info__title">We are eco!</p>
    <div class="eco-info__group">
      <div class="eco-info__item">
        <div class="eco-info__icon">
          <img src="https://ctnbee.com/assets/front/sku/sku-eco1-fda3e3c19f9bab2f7d7134632961f99a114804b43ab6b361f526492f088d09db.png" alt="CottonBee">
        </div>
        <p class="eco-info__text">Reduced water and energy consumption</p>
      </div>
      <div class="eco-info__item">
        <div class="eco-info__icon">
          <img src="https://ctnbee.com/assets/front/sku/sku-eco2-349a35e79f14704f829395362a46a82b1ee17ff8dbbac0fab94d03e5ca32fa48.png" alt="CottonBee">
        </div>
        <p class="eco-info__text">We are OEKO-TEX® Standard 100 (Class I) certified</p>
      </div>
      <div class="eco-info__item">
        <div class="eco-info__icon">
          <img src="https://ctnbee.com/assets/front/sku/sku-eco3-c52a39ff41965ce8116d0418e64f22dfd720fec4a45121ff2578baaa73d04918.png" alt="CottonBee">
        </div>
        <p class="eco-info__text">CottonBee is a GOTS 6.0 certified company</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "We eco",
    "presets": [
      {
        "name": "We eco"
      }
    ]
  }
{% endschema %}