<footer class="footer">
  <section id="company_info">
    <div class="mentioned">
      <div class="wrapper">
        <p class="subtitle-main">Media about us</p>
        <img
          data-src="/assets/front/logotype/logo1-fca24a7795207b01aa63ad71c3d1e9e057abe895a0ebb343614f471aaf797e8c.png"
          alt="CottonBee"
          class="lozad"
          src="https://ctnbee.com/assets/front/logotype/logo1-fca24a7795207b01aa63ad71c3d1e9e057abe895a0ebb343614f471aaf797e8c.png"
          data-loaded="true">
        <img
          data-src="/assets/front/logotype/logo2-810ab0d715fca9d36ff01719f4c1431e7243e3cc999fcfae8c8ab2b7fe377739.png"
          alt="CottonBee"
          class="lozad"
          src="https://ctnbee.com/assets/front/logotype/logo2-810ab0d715fca9d36ff01719f4c1431e7243e3cc999fcfae8c8ab2b7fe377739.png"
          data-loaded="true">
        <img
          data-src="/assets/front/logotype/logo3-21b7d2f1c6c8ee35fe075d1c9e01c4e5270db5cce16456a7bed5a02e8bc240d0.png"
          alt="CottonBee"
          class="lozad"
          src="https://ctnbee.com/assets/front/logotype/logo3-21b7d2f1c6c8ee35fe075d1c9e01c4e5270db5cce16456a7bed5a02e8bc240d0.png"
          data-loaded="true">
        <img
          data-src="/assets/front/logotype/logo4-d88987daf340245593086eabf166d434337b3bdecf140b51724dba0f922d926b.png"
          alt="CottonBee"
          class="lozad"
          src="https://ctnbee.com/assets/front/logotype/logo4-d88987daf340245593086eabf166d434337b3bdecf140b51724dba0f922d926b.png"
          data-loaded="true">
        <img
          data-src="/assets/front/logotype/logo5-3735278c0c36e3ab3626b27efac73e5f56458b5443acbd195fbbc911aad25277.png"
          alt="CottonBee"
          class="lozad"
          src="https://ctnbee.com/assets/front/logotype/logo5-3735278c0c36e3ab3626b27efac73e5f56458b5443acbd195fbbc911aad25277.png"
          data-loaded="true">
        <img
          data-src="/assets/front/logotype/logo6-3484c90979f5e4fda5d50d62456147fa2eadbf7b915d68f1e2c48137e775f8f3.png"
          alt="CottonBee"
          class="fixed_size lozad"
          src="https://ctnbee.com/assets/front/logotype/logo6-3484c90979f5e4fda5d50d62456147fa2eadbf7b915d68f1e2c48137e775f8f3.png"
          data-loaded="true">
        <img
          data-src="/assets/front/logotype/logo7-adf35fd95c552d953d82e98f2f0f558b918809423fea05e20a5b272b01ccdf21.png"
          alt="CottonBee"
          class="lozad"
          src="https://ctnbee.com/assets/front/logotype/logo7-adf35fd95c552d953d82e98f2f0f558b918809423fea05e20a5b272b01ccdf21.png"
          data-loaded="true">
        <img
          data-src="/assets/front/logotype/logo8-fc5c8a66e8be2daf656787a52bd94e76f02178a225b75665b575e918dada331b.png"
          alt="CottonBee"
          class="lozad"
          src="https://ctnbee.com/assets/front/logotype/logo8-fc5c8a66e8be2daf656787a52bd94e76f02178a225b75665b575e918dada331b.png"
          data-loaded="true">
      </div>
    </div>
    <div class="awards">
      <p class="subtitle-main">Awards</p>
      <img
        data-src="/assets/front/footer/deloitte-491f51ab10c737cb0af541c703eccf586c212a4a879e6911dc278aa5b7e960e9.svg"
        alt="CottonBee"
        width="200"
        height="46px"
        class="lozad"
        src="https://ctnbee.com/assets/front/footer/deloitte-491f51ab10c737cb0af541c703eccf586c212a4a879e6911dc278aa5b7e960e9.svg"
        data-loaded="true">
      <img
        data-src="/assets/front/footer/dw-2021-en-b0fdb4f56cecf71da1b9dee9ec61db07364f33a7852da7bc4fed733bc5516142.svg"
        alt="CottonBee"
        width="70"
        height="70px"
        class="lozad"
        src="https://ctnbee.com/assets/front/footer/dw-2021-en-b0fdb4f56cecf71da1b9dee9ec61db07364f33a7852da7bc4fed733bc5516142.svg"
        data-loaded="true">
      <img
        data-src="/assets/front/logo4-4df3eee046e241c3b8112a113a79e2b990088d23166aa9d2cb4808eeec24547c.png"
        alt="CottonBee"
        width="74"
        height="42px"
        class="lozad"
        src="https://ctnbee.com/assets/front/logo4-4df3eee046e241c3b8112a113a79e2b990088d23166aa9d2cb4808eeec24547c.png"
        data-loaded="true">
      <img
        data-src="/assets/front/logo5-25beeb02767c0a3b3fb79951385689ced8ae1244cdee3daa36effb3c2d80b878.png"
        alt="CottonBee"
        width="75"
        height="55px"
        class="lozad"
        src="https://ctnbee.com/assets/front/logo5-25beeb02767c0a3b3fb79951385689ced8ae1244cdee3daa36effb3c2d80b878.png"
        data-loaded="true">
    </div>
  </section>
</footer>
{% schema %}
  {
    "name": "Company",
    "presets": [
      {
        "name": "Company"
      }
    ]
  }
{% endschema %}