<footer class="footer">
  <div class="footer_info">
    <div class="col">
      <p class="footer_info-title">Payment security is guaranteed by:</p>
      <div class="footer_info-wrapper">
        <img src="https://ctnbee.com/assets/front/footer/logo-visa-d690ebec13ab3eafdfed6b04c2c69579367262d6542dedeb7c54dc22ef1d2750.png" alt="CottonBee">
        <img src="https://ctnbee.com/assets/front/footer/logo-master-88ef1295c827edf302ef1e961234cbcc06b50f5d3ce89f727c05a4a29768bbbe.png" alt="CottonBee">
        <img src="https://ctnbee.com/assets/front/footer/logo-maestro-54bdd5714536dc4cbebaee6f9a747237720c17a71159198dbdee4b65ab55020f.png" alt="CottonBee">
        <img src="https://ctnbee.com/assets/front/footer/logo-paypal-d5b28d2431d45a33c4083c9ae21b3682829a7a9b2286b30637258701df337f3b.png" alt="CottonBee">
        <img src="https://ctnbee.com/assets/front/footer/logo-paylane-10bd43bfcb0f5efb4b515d6c9202ffe87e996dc4e9eb6b1b944cece0ba2c921a.png" alt="CottonBee">
      </div>
    </div>
    <div class="col">
      <p class="footer_info-title">Shipments are delivered by:</p>
      <div class="footer_info-wrapper center">
        <img src="https://ctnbee.com/assets/front/footer/logo-tnt-f24ecb77c4d1349aa2f6718ed1e7a48e6ae5de9e67eae0ab7651862e43792d30.png" alt="CottonBee">
        <img src="https://ctnbee.com/assets/front/footer/logo-poczta-4070817438974f671c7d288808f6f56c13ebe3a587580cf7e0f3d3756801dc4f.png" alt="CottonBee">
        <img src="https://ctnbee.com/assets/front/footer/logo-royalmail-82ef9fad99d4d2d9c215987e9c4f85afdd528036cfb6d95c3a49c9a2023078bc.png" alt="CottonBee">
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Manufactured with love © 2023,
      <a href="/">{{ shop.name }}</a>, All rights reserved.</p>
  </div>
</footer>
{% schema %}
  {
    "name": "Pay Ship",
    "presets": [
      {
        "name": "Pay Ship"
      }
    ]
  }
{% endschema %}