<div class="main_container">
  <div class="container xl">
    <div class="cta-btn">
      <a class="text_link" href="/pages/print-steps">
        <span>Learn more</span>
      </a>
      <a class="btn_pink" href="/pages/buy-now">
        <span>BUY NOW</span>
      </a>
    </div>
    <div class="drop">
      <p class="secondary-title">Order more, pay less</p>
      <div class="drop__slider">
        <button
          role="button"
          aria-label="Previous"
          class="glider-btn glider-prev disabled"
          id="glider-prev"></button>
        <button
          role="button"
          aria-label="Next"
          class="glider-btn glider-next"
          id="glider-next"></button>
        <div class="drop__wrapper ">
          <div class="glider-track">
            <div class="drop__item">
              - 10%
              <span>order more than 10 m</span>
            </div>
            <div class="drop__item">
              - 20%
              <span>order more than 20 m</span>
            </div>
            <div class="drop__item">
              - 25%
              <span>order more than 30 m</span>
            </div>
            <div class="drop__item">
              - 30%
              <span>order more than 40 m</span>
            </div>
            <div class="drop__item small">
              Individual pricing
              <span>order more than 50 m</span>
            </div>
          </div>
        </div>
        <p class="drop__info">The discount is calculated automatically at the checkout, the quantity applies to one fabric  (not a pattern) in one order.</p>
        <div class="progress">
          <div class="progress__bar" style="min-width: 42%;"></div>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="info__col">
        <p class="info__title">Test colours and prints</p>
        <p class="info__intro">See the size of the print and colours yourself. Before you commit to ordering in bulk, check how colours and prints look on a certain type of fabrics.</p>
        <div class="info__wrapper">
          <div class="info__size">
            <div class="info__size-icon">20 cm</div>
            <div class="info__size-content">
              <div>
                Sampler
                <span>20 cm x 20 cm</span>
              </div>
              <p>
                <b>2,49 €</b>
                / a piece</p>
            </div>
          </div>
          <div class="info__size">
            <div class="info__size-icon">48 cm</div>
            <div class="info__size-content">
              <div>
                Swatch
                <span>48 cm x 48 cm</span>
              </div>
              <p>
                <b>4,99 €</b>
                / a piece</p>
            </div>
          </div>
        </div>
      </div>
      <div class="info__col">
        <div class="info__group">

          <img
            class="icon icon--check"
            width="31"
            height="31"
            src="https://www.svgrepo.com/show/422280/correct-success-tick.svg"
            alt="">
          <p>
            The price relates to printed fabric
            <span>You don’t pay extra for additional colours, producing a screen or setting a printer for a particular design. You can order as much as you need!</span>
          </p>
        </div>
        <div class="info__group">
          <img
            class="icon icon--check"
            width="31"
            height="31"
            src="https://www.svgrepo.com/show/422280/correct-success-tick.svg"
            alt="">
          <p>
            99% of orders are processed within maximum 5 business days and then printed fabric is delivered right to your door
            <span>If you choose shipping by a courier company, you can enjoy your fabric after a week from placing an order.</span>
          </p>
        </div>
        <div class="info__group">
          <img
            class="icon icon--check"
            width="31"
            height="31"
            src="https://www.svgrepo.com/show/422280/correct-success-tick.svg"
            alt="">
          <p>
            Given prices refer to our standard offer
            <span>
              If you need to order more, we will be delighted to offer you a special business discount. See our discount scheme
              <a href="/en/for-business">here.</a>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="bulk-discount">
    <div class="bulk-discount__content">
      <span class="bulk-discount__close js-CloseBulkDiscount">
        ⤬
      </span>
      <div class="bulk-discount__title">Bulk discounts</div>
      <div class="discount">
        <div class="discount__table">
          <div class="discount__table-body">
            <div class="discount__table-body-row">
              <div class="discount__table-body-item">10 meters</div>
              <div class="discount__table-body-item">- 10%</div>
            </div>
            <div class="discount__table-body-row">
              <div class="discount__table-body-item">20 meters</div>
              <div class="discount__table-body-item">- 20 %</div>
            </div>
            <div class="discount__table-body-row">
              <div class="discount__table-body-item">30 meters</div>
              <div class="discount__table-body-item">- 25%</div>
            </div>
            <div class="discount__table-body-row">
              <div class="discount__table-body-item">40 meters</div>
              <div class="discount__table-body-item">- 30%</div>
            </div>
            <div class="discount__table-body-row">
              <div class="discount__table-body-item">50 meters</div>
              <div class="discount__table-body-item info">
                <a href="/pages/for-business">check our business offer</a>
              </div>
            </div>
            <div class="discount__table-body-row no-border">
              <div class="discount__table-body-item full">The discount is calculated automatically at the checkout, the quantity applies to one fabric (not a pattern) in one order</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
  {
    "name": "Fabric Prices",
    "presets": [
      {
        "name": "Fabric Prices"
      }
    ]
  }
{% endschema %}