<div class="main_container">
  <section class="basic-header business-page">
    <div class="basic-header__content">
      <h1 class="basic-header__title pink">
        Made to measure
        <span>textile printing for sustainable brands</span>
        in fashion and home decor industry
      </h1>
      <div class="cta-btn">
        <a href="#business-contact-box" class="btn_pink js-scroll-to">MAKE A QUOTE</a>
      </div>
    </div>
    <div class="basic-header__img"></div>
    <a class="gots-badge" href="/en/gots-certified">
      <img
        data-src="/assets/front/icons/logo-gots-412de10bc137ac493697eb6bba9679f70597ea87865130e3a7c7b38a56100ea2.svg"
        alt="GOTS Certificate - Global Organic Textile Standard"
        class="lozad"
        src="https://ctnbee.com/assets/front/icons/logo-gots-412de10bc137ac493697eb6bba9679f70597ea87865130e3a7c7b38a56100ea2.svg"
        data-loaded="true">
      <p></p>
      <span>Certified by Control Union CU1099579</span>
    </a>
    <a class="oekotex-badge" href="/en/oeko-tex-certificate">
      <img
        data-src="/assets/front/oekotex/oekotex-d35e2bff956caa28020d476534daaf021a6eec4385f273a3f4fd339409d873e7.svg"
        alt="OEKO-TEX certificate"
        class="lozad"
        src="https://ctnbee.com/assets/front/oekotex/oekotex-d35e2bff956caa28020d476534daaf021a6eec4385f273a3f4fd339409d873e7.svg"
        data-loaded="true">
      <p>IW 00399 Łukasiewicz-ŁIT</p>
      <span>Tested for harmful substances.</span>
      <span>www.oeko-tex.com/standard100</span>
    </a>
    <div
      class="rating"
      itemscope=""
      itemtype="https://schema.org/LocalBusiness">
      <span class="rating__stars-text fixed" itemprop="name">CottonBee</span>
      <div
        class="rating__wrapper"
        itemprop="aggregateRating"
        itemscope=""
        itemtype="https://schema.org/AggregateRating">
        <div class="rating__value">
          <p class="rating__value-large" itemprop="ratingValue">
            4.90
          </p>
          <p class="rating__value-small">/<span itemprop="bestRating">5</span>
          </p>
        </div>
        <div class="rating__stars">
          <div class="rating__stars-wrapper">
            <div class="rating__stars-item"></div>
            <div class="rating__stars-item"></div>
            <div class="rating__stars-item"></div>
            <div class="rating__stars-item"></div>
            <div class="rating__stars-item"></div>
          </div>
          <p class="rating__stars-text">based on
            <span itemprop="ratingCount">4649</span>
            reviews</p>
        </div>
      </div>
    </div>

  </section>

  <div class="container xl">
    <div class="business-box">
      <div class="business-box__item">
        <p class="business-box__title">Small business</p>
        <ul>
          <li>Orders up to 50 running metres</li>
          <li>Up to 30% bulk discount (applied automatically)</li>
          <li>max. 5 business days turnaround</li>
        </ul>
        <div class="business-box__wrapper">
          <a class="btn_pink" href="/en/designs">Buy now</a>
        </div>
      </div>
      <div class="business-box__item">
        <p class="business-box__title">Growing brands</p>
        <ul>
          <li>Orders from 50 do 5000 running metres</li>
          <li>Individual pricing</li>
          <li>As fast as 24h turnaround
          </li>
        </ul>
        <div class="business-box__wrapper">
          <a href="#business-contact-box" class="btn_pink js-scroll-to">MAKE A QUOTE</a>
        </div>
      </div>
    </div>

    <div class="banner-certificates">
      <div class="banner-certificates__content">
        <p class="banner-certificates__title">We are certified according to
          <span>GOTS (Global Organic Textile Standard)</span>
          and
          <span>OEKO-TEX® Standard 100.</span>
        </p>
        <p class="banner-certificates__text">
          <b>Printing fabrics with CottonBee</b>
          you get a finished product which meets strict environmental requirements of GOTS and safety standards of OEKO-TEX Certificate.</p>
      </div>
      <div class="banner-certificates__img">
        <a class="gots-badge" href="/en/gots-certified">
          <img
            data-src="/assets/front/icons/gots-small-a7f81da61c28432ba89732a202190b0ee85dc53316493984f768c7e8c6c138db.svg"
            alt="GOTS Certificate - Global Organic Textile Standard"
            class="lozad"
            src="https://ctnbee.com/assets/front/icons/gots-small-a7f81da61c28432ba89732a202190b0ee85dc53316493984f768c7e8c6c138db.svg"
            data-loaded="true">
        </a>
        <a class="oekotex-badge" href="/en/oeko-tex-certificate">
          <img
            data-src="/assets/front/icons/oekotex-small-65bfff0fd53810af836d0c1a1c85b1a7eeb91cba7d50b1a77f1010fd9c7e4ecc.svg"
            alt="OEKO-TEX certificate"
            class="lozad"
            src="https://ctnbee.com/assets/front/icons/oekotex-small-65bfff0fd53810af836d0c1a1c85b1a7eeb91cba7d50b1a77f1010fd9c7e4ecc.svg"
            data-loaded="true">
        </a>
      </div>
    </div>

    <div class="business-machine">
      <p class="business-machine__title">Quality textiles printed with best in class digital textile printing solution</p>
      {% comment %} <object
      data="/assets/front/page_business/machine-en-a4f316e9c07e646cfc4c92fc810c136c6359c12c641a1a4bb5562ea030af05f1.svg"
      class="machine-desktop"
      type="image/svg+xml"></object>
      <picture>
      <img
      data-src="/assets/front/page_business/machine-mobile-e0e5fc1494f18bc6fd31d3b1b9dfdc2602138be9a33e9494b25d9c39b874a529.png"
      alt="CottonBee"
      class="lozad machine-mobile">
      </picture> {% endcomment %}
      <img src="https://cdn.shopify.com/s/files/1/0754/1299/6433/files/Machine.png?v=1684580942" alt="">
    </div>

    <div class="business-machine__info">
      <div class="business-machine__info-item">
        <p>
          Durst Alpha 5 Series Printer
          <span>Print speed up to 490m2/h</span>
        </p>
      </div>
      <div class="business-machine__info-item">
        <p>
          Greentex-P Pigment Ink System
          <span>30% extended colour space</span>
        </p>
      </div>
      <div class="business-machine__info-item">
        <p>
          32/64 Ricoh Gen 5 mirrored print heads
          <span>Print resolution up to 500x600 dpi</span>
        </p>
      </div>
    </div>

    <div class="business-print">
      <div class="business-print__item">
        CottonBee is a GOTS certified company
      </div>
      <div class="business-print__item">
        Fabrics from organic and conventional cotton
      </div>
      <div class="business-print__item">
        Smooth and soft printed fabric touch
      </div>
      <div class="business-print__item">
        Excellent colour fastness to washing
        <span>(4-5, ISO 105-C06)</span>
      </div>
      <div class="business-print__item">
        Outstanding colour reproduction
      </div>
      <div class="business-print__item">
        Exceptional light fastness
        <span>(&gt;7, ISO 105-B02)</span>
      </div>
    </div>

    <section class="home-section eko">
      <p class="home-section__label">#eco</p>
      <h2 class="home-section__header">
        <span>Green printing technology</span>
        with minimised consumption of water, energy and chemical substances</h2>
      <p class="home-section__text">
        <b>Our certifications:</b>
        We are GOTS (Global Organic Textile Standard) and OEKO-TEX® Standard 100 certified.</p>
      <a class="btn_pink" href="/en/sustainability">
        <span>Read our eco statement</span>
      </a>
    </section>

    <div class="video-wrapper">
      <div class="iframe_wrapper">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/jd1ZPjF3zOY?mute=1"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen=""></iframe>
      </div>
    </div>

  </div>

  <section class="business-form" id="business-contact-box">
    <div class="content">
      <h2 class="subtitle-main">Ask for quotation</h2>
      <p class="main-text">Do you need an individual pricing for your project? Need to know what discount would you get by ordering bigger amount of fabric at once? Drop us a line here, and we will contact you to help you out with everything you need!</p>
      {% comment %} <div class="business-form__wrapper">
      <form
      action="/en/for-business/contact#business-contact-box"
      accept-charset="UTF-8"
      data-remote="true"
      method="post"><input
      name="utf8"
      type="hidden"
      value="✓"
      autocomplete="off"><input
      type="hidden"
      name="authenticity_token"
      value="T9VQsQJjKyDooFkDHhbyg4sUadmbIQ6VFSKtA1T9inOYCU3C3Unan/YnzeJawSUodbsp0zIruHpf1w/z4CAYCA=="
      autocomplete="off">
      <div class="title_1684579394">
      <style media="screen">.title_1684579394 {display:none;}</style>
      <label for="title">If you are a human, ignore this field</label><input
      type="text"
      name="title"
      id="title"
      autocomplete="off"
      tabindex="-1"><input
      type="hidden"
      name="spinner"
      value="8733897c7d2f13eceb3ff536bbbfab23"
      autocomplete="off"></div>

      <div class="input-field">
      <label class="" for="name">Name</label>
      <input
      type="text"
      name="name"
      id="name"
      required="required"
      class="">
      </div>

      <div class="input-field">
      <label class="" for="email">E-mail</label>
      <input
      type="text"
      name="email"
      id="email"
      required="required"
      class="">
      </div>

      <div class="input-field">
      <label class="" for="phone">Phone (optional)</label>
      <input
      type="text"
      name="phone"
      id="phone"
      class="">
      </div>

      <div class="input-field">
      <label class="" for="content">Message</label>
      <textarea
      name="content"
      id="content"
      required="required"
      class=""></textarea>
      </div>

      <p class="business-form__info">* pola wymagane</p>

      <div class="checkbox-wrapper">
      <input
      type="checkbox"
      name="agree_check"
      id="agree_check"
      value="1"
      class="filled-in"
      style="display: block;">
      <label class="" for="agree_check">I agree to receive the contact from CottonBee. Consent is voluntary. I have the right to withdraw my consent at any time (data are processed until the withdrawal of consent).</label>
      </div>

      <div class="business-form__btn-wrapper">
      <button
      name="button"
      type="submit"
      class="btn_pink"
      data-disable-with="Sending...">Send</button>
      </div>

      </form>
      </div> {% endcomment %}
    </div>
  </section>


  <div class="container small">
    <section class="business-contactus">
      <h2 class="business-contactus__header">Contact us</h2>
      <div class="business-contactus__wrapper">
        <div class="business-contactus__person">
          <img
            src="https://ctnbee.com/assets/front/flag-en-303afb3a99df6e5efebdb2fa200c438ae1b4e9d97d21bc0e26f109b2008f0a03.svg"
            alt="CottonBee"
            class="lozad">
          Agata
          <span>
            <a href="tel:+ 48 516 278 821">+ 48 516 278 821</a>
            <a href="mailto:agata@ctnbee.com">agata@ctnbee.com</a>
          </span>
        </div>
        <div class="business-contactus__person">
          <img
            src="https://ctnbee.com/assets/front/flag-pl-fbfe838104163b5bc58cae20609bfc2e9ede22eaea9b38fa414f763c326c8902.svg"
            alt="CottonBee"
            class="lozad">
          Agata
          <span>
            <a href="tel:+ 48 515 488 216">+ 48 515 488 216</a>
            |
            <a href="mailto:agata@ctnbee.com">agata@ctnbee.com</a>
          </span>
        </div>
        <div class="business-contactus__person">
          <img
            src="https://ctnbee.com/assets/front/flag-de-8394776d35d88dbd16cc900961ffdb94e2d816e5997700d5e4d8a809e68b4a87.svg"
            alt="CottonBee"
            class="lozad">
          Celestina
          <span>
            <a href="tel:+48 508 832 463">+48 508 832 463</a>
            |
            <a href="mailto:celestina@ctnbee.com">celestina@ctnbee.com</a>
          </span>
        </div>
        <div class="business-contactus__person">
          <img
            src="https://ctnbee.com/assets/front/flag-fr-8b22569b0f90f280cea04c1dadfe6922c6ac635c5e09d9d87ac0fc38e4c2b786.svg"
            alt="CottonBee"
            class="lozad">
          Dominika
          <span>
            <a href="tel:+48 502 836 137 ">+48 502 836 137</a>
            |
            <a href="mailto:dominika@ctnbee.com">dominika@ctnbee.com</a>
          </span>
        </div>
      </div>
    </section>
    <section class="business-offer">
      <div class="business-offer__left">
        <picture>
          <source type="image/webp" srcset="https://ctnbee.com/assets/front/page_business/starter-pack-384ddecd42f63137de0f1c1949a2f53fd9bd9bbfd1b88c6968caa4b4cadcb8ad.webp">
          <source type="image/jpg" srcset="/assets/front/page_business/starter-pack-817de7408d8e42ee05ff7f874949528c0da8e8a3aebc7cc2f0f75a23549a7f18.png">
          <img
            data-src="/assets/front/page_business/starter-pack-817de7408d8e42ee05ff7f874949528c0da8e8a3aebc7cc2f0f75a23549a7f18.png"
            alt="CottonBee"
            class="lozad">
        </picture>
      </div>
      <div class="business-offer__right">
        <h2 class="business-offer__title">Business Starter Pack</h2>
        <p class="business-offer__text">What’s inside:</p>
        <ul>
          <li>colour guide printed on fabric</li>
          <li>printed and unprinted samples</li>
          <li>washing test swatchbook</li>
          <li>information flyers</li>
        </ul>
        <p class="business-offer__text-bold">15 GBP / EUR and free delivery!</p>
        <div class="business-offer__wrapper">
          <a class="btn_pink buy_business_sampler_link">order starter pack</a>
        </div>
      </div>
    </section>

  </div>

  <section class="testimonilas">
    <div class="content">
      <h2 class="subtitle-main">Talk about us</h2>
      <div class="bx-wrapper" style="max-width: 880px;">
        <div
          class="bx-viewport"
          aria-live="polite"
          style="width: 100%; overflow: hidden; position: relative; height: 290px;">
          <div class="testimonials-wrapper" style="width: 6215%; position: relative; transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
            <a
              class="testimonil-item"
              rel="nofollow"
              href="http://kellybubble.shopshood.com/"
              aria-hidden="false"
              style="float: left; list-style: none; position: relative; width: 410px; margin-right: 60px;">
              <img class="testimonil-item__img" src="https://ctnbee.com/uploads/testimonial/image/1/male.jpg">
              <h3 class="testimonil-item__name">Kalina Bańka</h3>
              <h4 class="testimonil-item__position">Kellybubble</h4>
              <p class="testimonil-item__text">Discovering CottonBee has resulted in creating my own brand. Open team and useful guidance in terms of fabric choice and file preparation have led to the long-term cooperation between my company and CottonBee. As a result, I can continuously extend the range of Kelly Bubble products.</p>
            </a>
            <a
              class="testimonil-item"
              rel="nofollow"
              href="https://www.facebook.com/pg/ROGOfashionPL"
              aria-hidden="false"
              style="float: left; list-style: none; position: relative; width: 410px; margin-right: 60px;">
              <img class="testimonil-item__img" src="https://ctnbee.com/uploads/testimonial/image/2/maledobre.jpg">
              <h3 class="testimonil-item__name">Małgosia Sułek i Marek Rogowski</h3>
              <h4 class="testimonil-item__position">ROGOfashion</h4>
              <p class="testimonil-item__text">The possibility of sewing from the high-quality fabrics with a unique design is the core of ROGOshion activity.  Colour fastness and user friendly products guarantee our clients’ satisfaction. What is more, great heart, a case-by-case approach, the staff commitment and taking care of every detail cause that we don’t want to cooperate with anybody else.</p>
            </a>
            <a
              class="testimonil-item"
              rel="nofollow"
              href="http://www.mocem.pl"
              aria-hidden="true"
              style="float: left; list-style: none; position: relative; width: 410px; margin-right: 60px;">
              <img class="testimonil-item__img" src="https://ctnbee.com/uploads/testimonial/image/3/ewa-olborskamale.jpg">
              <h3 class="testimonil-item__name">Ewa Olborska</h3>
              <h4 class="testimonil-item__position">Mocem</h4>
              <p class="testimonil-item__text">CottonBee is the most convenient way of carrying out small personalised orders. I don’t have to buy big rolls of material just like in industrial printing houses. The whole process is fast, easy and customer-friendly. I like the possibility of buying fabrics with my own designs.</p>
            </a>
            <a
              class="testimonil-item"
              rel="nofollow"
              href="http://www.facebook.com/MrPuffini"
              aria-hidden="true"
              style="float: left; list-style: none; position: relative; width: 410px; margin-right: 60px;">
              <img class="testimonil-item__img" src="https://ctnbee.com/uploads/testimonial/image/4/logo180x180male.jpg">
              <h3 class="testimonil-item__name">Honorata Humiennik</h3>
              <h4 class="testimonil-item__position">Mr Puffini</h4>
              <p class="testimonil-item__text">The cooperation with CottonBee has given us the possibility of making home décor for children without looking at fabrics that are available on the market and limiting our creativity by ready components. We appreciate the ease of making an order, the openness to our requests and the idea for doing a business.</p>
            </a>
            <a
              class="testimonil-item"
              rel="nofollow"
              href="http://www.mmstudio-sklep.pl"
              aria-hidden="true"
              style="float: left; list-style: none; position: relative; width: 410px; margin-right: 60px;">
              <img class="testimonil-item__img" src="https://ctnbee.com/uploads/testimonial/image/5/zdj%C4%99cie_profilowe_1male.jpg">
              <h3 class="testimonil-item__name">Magdalena Magiera</h3>
              <h4 class="testimonil-item__position">MM Studio</h4>
              <p class="testimonil-item__text">I value CottonBee for professional customer service and individual approach to clients. If problems appear, they are immediately solved. What is more, the website is user friendly and the process of placing an order is easy and fast.</p>
            </a>
            <a
              class="testimonil-item"
              rel="nofollow"
              href="http://glodekdesign.com"
              aria-hidden="true"
              style="float: left; list-style: none; position: relative; width: 410px; margin-right: 60px;">
              <img class="testimonil-item__img" src="https://ctnbee.com/uploads/testimonial/image/6/glodek.png">
              <h3 class="testimonil-item__name">Magdalena Głodek</h3>
              <h4 class="testimonil-item__position">Głodek Design</h4>
              <p class="testimonil-item__text">I have been cooperating with CottonBee from the very beginning. This is where I did my first tests and made prototypes! We have been in cooperation for more than 2 years and I really appreciate our good business relations! Always on time, nice people and friendly atmosphere. This is what each cooperation should look like.</p>
            </a>
          </div>
        </div>
        <div class="bx-controls bx-has-controls-direction">
          <div class="bx-controls-direction">
            <a class="bx-prev" href="">Prev</a>
            <a class="bx-next" href="">Next</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="business-recommendations">
    <section class="recommendations">
      <div class="container">
        <h2 class="subtitle-main">Join our satisfied Customers!</h2>
        {% comment %} <div class="recommendations__wrapper">
        <div class="bx-wrapper" style="max-width: 2800px;">
        <div
        class="bx-viewport"
        aria-live="polite"
        style="width: 100%; overflow: hidden; position: relative; height: 196px;">
        <div class="recommendations__slider" style="width: 12215%; position: relative; transition-duration: 0s; transform: translate3d(-2800px, 0px, 0px);">
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">We love your fabric and what you do, our designs always arrive to a good standard in prompt timing
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Megan, Milton Keynes
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Szybko, sprawnie, materiały świetnej jakości. Polecam!</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Łukasz, Nowe Proboszczewice
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Bardzo dobra obsługa klienta, realizacja expresowa. Jakość materiału super.
        Rewelacja. Na pewno jeszcze skorzystam.</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Ewa, Łąck
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Love the print and the ability to wash printed fabric in the washing machine (single jersey with lycra). Print itself is very sharp and the communication during the order being processed was great.
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Katy, Leicester
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">I have been printing wovens for home decor for some time now, but I tried printing on knits with you for the first time. Would reccomend for sure! Such a pleasure - fast, always friendly and the quality is great. THANKS!</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Amelia, Walberswick
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Keep going your great work! Love your printed fabrics!
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Amelia, London
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Za każdym razem zamówienie jest realizowane szybko i sprawnie. Cudowne wzory i kolory, materiały bardzo dobre gatunkowo.  Do tego możliwość wyboru wielkości grafiki na tkaninie jest po prostu genialna! Będę wracała :-)</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Katarzyna, Nekla
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Zawsze świetna obsługa i ekspresowe terminy. Nadruk bezbłędny!</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Zuzanna, Warszawa
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Super kolory, dokladnie to czego chcialam:)</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Kamila, Warszawa
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Jakość użytych materiałów i druku jest rewelacyjna. Błyskawiczny czas realizacji. Świetnie, że można u Was zamówić próbkę materiału zanim zdecyduję się na zakup całego metra.
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Anna, Szczecin
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="false">
        <p class="recommendations__item-text">Jestem zadowolona z jakości druku i przejrzystej obsługi telefonicznej. Bardzo polecam i wracam!
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Magdalena , Warszawa
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="false">
        <p class="recommendations__item-text">Bardzo dobra jakość wydruku i obsługa na najwyższym poziomie. :)</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Marzena,  Gzy
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="false">
        <p class="recommendations__item-text">We love your fabric and what you do, our designs always arrive to a good standard in prompt timing
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Megan, Milton Keynes
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="false">
        <p class="recommendations__item-text">Szybko, sprawnie, materiały świetnej jakości. Polecam!</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Łukasz, Nowe Proboszczewice
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Bardzo dobra obsługa klienta, realizacja expresowa. Jakość materiału super.
        Rewelacja. Na pewno jeszcze skorzystam.</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Ewa, Łąck
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Love the print and the ability to wash printed fabric in the washing machine (single jersey with lycra). Print itself is very sharp and the communication during the order being processed was great.
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Katy, Leicester
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">I have been printing wovens for home decor for some time now, but I tried printing on knits with you for the first time. Would reccomend for sure! Such a pleasure - fast, always friendly and the quality is great. THANKS!</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Amelia, Walberswick
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Keep going your great work! Love your printed fabrics!
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Amelia, London
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Za każdym razem zamówienie jest realizowane szybko i sprawnie. Cudowne wzory i kolory, materiały bardzo dobre gatunkowo.  Do tego możliwość wyboru wielkości grafiki na tkaninie jest po prostu genialna! Będę wracała :-)</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Katarzyna, Nekla
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Zawsze świetna obsługa i ekspresowe terminy. Nadruk bezbłędny!</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Zuzanna, Warszawa
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Super kolory, dokladnie to czego chcialam:)</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Kamila, Warszawa
        </p>
        </div>
        <div
        class="recommendations__item"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Jakość użytych materiałów i druku jest rewelacyjna. Błyskawiczny czas realizacji. Świetnie, że można u Was zamówić próbkę materiału zanim zdecyduję się na zakup całego metra.
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Anna, Szczecin
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Jestem zadowolona z jakości druku i przejrzystej obsługi telefonicznej. Bardzo polecam i wracam!
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Magdalena , Warszawa
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Bardzo dobra jakość wydruku i obsługa na najwyższym poziomie. :)</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Marzena,  Gzy
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">We love your fabric and what you do, our designs always arrive to a good standard in prompt timing
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Megan, Milton Keynes
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Szybko, sprawnie, materiały świetnej jakości. Polecam!</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Łukasz, Nowe Proboszczewice
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Bardzo dobra obsługa klienta, realizacja expresowa. Jakość materiału super.
        Rewelacja. Na pewno jeszcze skorzystam.</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Ewa, Łąck
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Love the print and the ability to wash printed fabric in the washing machine (single jersey with lycra). Print itself is very sharp and the communication during the order being processed was great.
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Katy, Leicester
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">I have been printing wovens for home decor for some time now, but I tried printing on knits with you for the first time. Would reccomend for sure! Such a pleasure - fast, always friendly and the quality is great. THANKS!</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Amelia, Walberswick
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Keep going your great work! Love your printed fabrics!
        </p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-en-1c1a40cf4268a8cc68ec7d03c296f0af518fc8d2d4fdeac0d7709b8be894d6a9.jpg" alt="CottonBee">
        </span>
        Amelia, London
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Za każdym razem zamówienie jest realizowane szybko i sprawnie. Cudowne wzory i kolory, materiały bardzo dobre gatunkowo.  Do tego możliwość wyboru wielkości grafiki na tkaninie jest po prostu genialna! Będę wracała :-)</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Katarzyna, Nekla
        </p>
        </div>
        <div
        class="recommendations__item bx-clone"
        style="float: left; list-style: none; position: relative; width: 280px;"
        aria-hidden="true">
        <p class="recommendations__item-text">Zawsze świetna obsługa i ekspresowe terminy. Nadruk bezbłędny!</p>
        <div class="recommendations__item-stars">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        </div>
        <p class="recommendations__item-text">
        <span class="recommendations__item-flag">
        <img src="/assets/front/flags/flag-pl-3e5af0ebaaa545bea34434cdbf1bab8e11307ca5d95139095d3647431046a22c.jpg" alt="CottonBee">
        </span>
        Zuzanna, Warszawa
        </p>
        </div>
        </div>
        </div>
        <div class="bx-controls bx-has-controls-direction">
        <div class="bx-controls-direction">
        <a class="bx-prev" href="">Prev</a>
        <a class="bx-next" href="">Next</a>
        </div>
        </div>
        </div>
        </div> {% endcomment %}
        <div class="cta-btn recommendations-btn">
          <a class="text_link" href="/en/how-to-start">Learn more</a>
          <a class="btn_pink" href="/en/buy-now">BUY NOW</a>
        </div>
      </div>
    </section>

  </div>

  <div class="instagram_nodes_wrapper partial_wrapper"><!--LL-->
  </div>

</div>

{% schema %}
  {
    "name": "For Business",
    "presets": [
      {
        "name": "For Business"
      }
    ]
  }
{% endschema %}