<div class="main_container">
  <div class="basic-header-wrapper">
    <section class="basic-header organic-cotton">
      <div class="basic-header__content">
        <h1 class="basic-header__title medium pink">
          <span>Printing on organic cotton fabric</span>
        </h1>
        <p class="basic-header__text small no-margin">Sustainable printing on
          <b>organic cotton</b>
          fabric with no minimum order and fulfilment in 3-5 business days. GOTS certified fabric printing technology with positive ecological balance, always tailored to your specific needs.
        </p>
        <div class="cta-btn">
          <a class="text-link" href="/en/how-to-start">
            <span>Learn more</span>
          </a>
          <a class="btn_pink" href="/en/buy-now">
            <span>BUY NOW</span>
          </a>
        </div>
      </div>
      <div class="basic-header__img"></div>
      <a class="gots-badge" href="/en/gots-certified">
        <img
          data-src="/assets/front/icons/logo-gots-412de10bc137ac493697eb6bba9679f70597ea87865130e3a7c7b38a56100ea2.svg"
          alt="GOTS Certificate - Global Organic Textile Standard"
          class="lozad"
          src="https://ctnbee.com/assets/front/icons/logo-gots-412de10bc137ac493697eb6bba9679f70597ea87865130e3a7c7b38a56100ea2.svg"
          data-loaded="true">
        <p></p>
        <span>Certified by Control Union CU1099579</span>
      </a>
      <a class="oekotex-badge" href="/en/oeko-tex-certificate">
        <img
          data-src="/assets/front/oekotex/oekotex-d35e2bff956caa28020d476534daaf021a6eec4385f273a3f4fd339409d873e7.svg"
          alt="OEKO-TEX certificate"
          class="lozad"
          src="https://ctnbee.com/assets/front/oekotex/oekotex-d35e2bff956caa28020d476534daaf021a6eec4385f273a3f4fd339409d873e7.svg"
          data-loaded="true">
        <p>IW 00401 Łukasiewicz-ŁIT</p>
        <span>Tested for harmful substances.</span>
        <span>www.oeko-tex.com/standard100</span>
      </a>
      <div
        class="rating"
        itemscope=""
        itemtype="https://schema.org/LocalBusiness">
        <span class="rating__stars-text fixed" itemprop="name">CottonBee</span>
        <div
          class="rating__wrapper"
          itemprop="aggregateRating"
          itemscope=""
          itemtype="https://schema.org/AggregateRating">
          <div class="rating__value">
            <p class="rating__value-large" itemprop="ratingValue">
              4.90
            </p>
            <p class="rating__value-small">/<span itemprop="bestRating">5</span>
            </p>
          </div>
          <div class="rating__stars">
            <div class="rating__stars-wrapper">
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
              <div class="rating__stars-item"></div>
            </div>
            <p class="rating__stars-text">based on
              <span itemprop="ratingCount">4650</span>
              reviews</p>
          </div>
        </div>
      </div>

    </section>
  </div>

  <div class="container xl">
    <div class="organic-info">
      <div class="organic-info__item">
        <div class="organic-info__item-icon">
          {% comment %} <svg
          class="icon icon--organic"
          width="75"
          height="76">
          <use href="#icon-organic" xlink:href="#icon-organic"></use>
          </svg> {% endcomment %}
          <img src="https://www.svgrepo.com/show/437032/leaf-arrow-circlepath.svg" alt="">
        </div>
        <div class="organic-info__item-content">
          <h3 class="organic-info__item-title">Organic cotton fabrics</h3>
          <p class="organic-info__item-text">Organic cotton crops use up to 80% less water than conventional cotton</p>
        </div>
      </div>
      <div class="organic-info__item">
        <div class="organic-info__item-icon">
          {% comment %} <svg
          class="icon icon--sustainability"
          width="75"
          height="68">
          <use href="#icon-sustainability" xlink:href="#icon-sustainability"></use>
          </svg> {% endcomment %}
          <img src="https://www.svgrepo.com/show/293502/drop.svg" alt="">
        </div>
        <div class="organic-info__item-content">
          <h3 class="organic-info__item-title">Sustainable fabric printing</h3>
          <p class="organic-info__item-text">GOTS 6.0 compliant, OEKO-TEX 100 (Class I and II) certified pigment inks.
          </p>
        </div>
      </div>
      <div class="organic-info__item">
        <div class="organic-info__item-icon">
          <img
            data-src="/assets/front/icons/icon-gots-dbd4a58029848da06f07cd8195a254bd6a5a12aefe7db05c9d19c78b59af9777.svg"
            alt="GOTS certificate"
            class="lozad"
            src="https://ctnbee.com/assets/front/icons/icon-gots-dbd4a58029848da06f07cd8195a254bd6a5a12aefe7db05c9d19c78b59af9777.svg"
            data-loaded="true">
        </div>
        <div class="organic-info__item-content">
          <h3 class="organic-info__item-title">GOTS certificate</h3>
          <p class="organic-info__item-text">CottonBee is a GOTS certified company (license number: 1099579).</p>
        </div>
      </div>
    </div>
  </div>



  <div class="container xl">

    <div class="business-box">
      <div class="business-box__item">
        <div>
          <p class="business-box__title">For crafters and sewists</p>
          <ul>
            <li>no minimum order quantity</li>
            <li>always print as much as you need</li>
            <li>5 business days fulfilment time</li>
          </ul>
        </div>
        <div class="business-box__wrapper">
          <a class="btn_pink mr-b" href="/en/collections/fabric">Print from a catalogue</a>
          <a class="btn_white" href="/en/designs">Upload your design</a>
        </div>
      </div>
      <div class="business-box__item">
        <div>
          <p class="business-box__title">For business</p>
          <ul>
            <li>flexible offer tailored to your business’s needs</li>
            <li>bulk discounts</li>
            <li>competitive turnaround times</li>
          </ul>
        </div>
        <div class="business-box__wrapper">
          <a class="btn_pink" href="/en/for-business">See business offer</a>
        </div>
      </div>
    </div>

    <section class="usp">
      <div class="usp__wrapper">
        <div class="usp__item">
          <div class="usp__item-icon">
            <span class="icon-usp-shipping"></span>
          </div>
          <div class="usp__item-content">
            <p class="usp__item-title">Free shipping over 100 EUR</p>
            <p class="usp__item-text">Once your order surpasses that amount we will ship it for free.</p>
          </div>
        </div>
        <div class="usp__item">
          <div class="usp__item-icon">
            <span class="icon-usp-delivery"></span>
          </div>
          <div class="usp__item-content">
            <p class="usp__item-title">Ready to ship in 3-5 business days</p>
            <p class="usp__item-text">You never have to wait long for your custom printed fabrics.</p>
          </div>
        </div>
        <div class="usp__item">
          <div class="usp__item-icon">
            <span class="icon-usp-quality"></span>
          </div>
          <div class="usp__item-content">
            <p class="usp__item-title">Excellent quality at a good price</p>
            <p class="usp__item-text">Order with bulk discounts or have your order priced individually.</p>
          </div>
        </div>
        <div class="usp__item">
          <div class="usp__item-icon">
            <span class="icon-usp-eco"></span>
          </div>
          <div class="usp__item-content">
            <p class="usp__item-title">GOTS and OEKO-TEX® Standard 100</p>
            <p class="usp__item-text">We are GOTS (Global Organic Textile Standard) and OEKO-TEX® Standard 100 certified.</p>
          </div>
        </div>
      </div>
    </section>

    <section class="upload-block">
      <div class="upload-block__content">
        <div class="upload-block__content-img">
          <img src="https://ctnbee.com/assets/front/icon-upload-d9f4edce719cf71edcb55229fabbed85c065d6043c5b446e6504ae25b2560517.png" alt="">
        </div>
        <div class="upload-block__wrapper">
          <p class="upload-block__title">Print your design</p>
          <p class="upload-block__text">Create your custom sewing fabric! Choose an image you want printed on fabric and we will print it for you on woven or knit fabrics from organic cotton, conventional cotton or polyester.</p>
          <div class="upload-block__btn">
            <a class="btn_pink" href="/pages/upload">UPLOAD FILE</a>
          </div>
        </div>
      </div>
      <div class="upload-block__img">
        <img
          data-src="/assets/front/landing/cotton/print-cushion-94bf25ccfadfa43fb4ac9dc505586fb5250e294fb435989c6c02eba5d7026660.png"
          alt="CottonBee"
          class="lozad"
          src="https://ctnbee.com/assets/front/landing/cotton/print-cushion-94bf25ccfadfa43fb4ac9dc505586fb5250e294fb435989c6c02eba5d7026660.png"
          data-loaded="true">
      </div>
      <div class="upload-block__content">
        <div class="upload-block__content-img">
          <img src="https://www.svgrepo.com/show/444805/files.svg" alt="">
        </div>
        <div class="upload-block__wrapper">
          <p class="upload-block__title">See pattern collection</p>
          <p class="upload-block__text">Our catalogue contains over a million of miscellaneous, seamless patterns to choose from. We compile them into themed categories to inspire you and make that decision a bit easier.</p>
          <div class="upload-block__btn">
            <a class="btn_pink" href="/en/collections/fabric">SEE THE CATALOGUE</a>
          </div>
        </div>
      </div>
    </section>

    <section class="home-section eko">
      <p class="home-section__label">#eco</p>
      <h2 class="home-section__header">
        <span>Green printing technology</span>
        with minimised consumption of water, energy and chemical substances</h2>
      <p class="home-section__text">
        <b>Our certifications:</b>
        We are GOTS (Global Organic Textile Standard) and OEKO-TEX® Standard 100 certified.</p>
      <a class="btn_pink" href="/en/sustainability">
        <span>Read our eco statement</span>
      </a>
    </section>
  </div>

  <div class="fabric-faq">
    <h2 class="subtitle-main">Frequently asked questions</h2>
    <div class="fabric-faq__wrapper">
      <div class="fabric-faq__col">
        <div>
          <div class="fabric-faq__item">
            <p class="fabric-faq__question">What is organic cotton?
            </p>
            <p class="fabric-faq__answer">Organic cotton is a fibre whose production process is designed to be as ecologically sustainable as possible. No pesticides, insecticides or other chemicals are used on organic cotton fields, so the soil retains its fertility. By excluding chemicals from organic cotton production, local bodies of water are not polluted, and the work environment is much safer for human health. <br><br> Organic cotton is mostly watered by rainwater. It is estimated that up to 80% of the crops are irrigated like this. Thanks to that, it is possible to reduce water consumption in the textile industry considerably. Cottonseed oil, a by-product of the organic cotton production process, is used in food and cosmetics. <br><br> Although the price of organic cotton is usually higher than that of the conventionally-grown one, by investing in organic fibres, you not only receive a high-quality product, but you also contribute to reduced water consumption, cleaner air and improved working conditions for the farmers who work in the cotton fields.</p>
          </div>
        </div>
        <picture>
          <source type="image/webp" srcset="https://ctnbee.com/assets/front/landing/organic-cotton/faq1-7965393ae0c2fcebed78a1c091092950c0d2cae69e8f77a75e5ddaf16588bed5.webp">
          <source type="image/jpg" srcset="/assets/front/landing/organic-cotton/faq1-ba399ac9ddeac5c0e47d2c91c861a06fc15ace7e2390243b704ef8b29febaa70.jpg">
          <img
            data-src="/assets/front/landing/organic-cotton/faq1-ba399ac9ddeac5c0e47d2c91c861a06fc15ace7e2390243b704ef8b29febaa70.jpg"
            alt="Frequently asked questions"
            class="lozad"
            src="/assets/front/landing/organic-cotton/faq1-ba399ac9ddeac5c0e47d2c91c861a06fc15ace7e2390243b704ef8b29febaa70.jpg"
            data-loaded="true">
        </picture>
      </div>
      <div class="fabric-faq__col">
        <picture>
          <source type="image/webp" srcset="https://ctnbee.com/assets/front/landing/organic-cotton/faq2-b68fa191b2798a1f098c7210fb9015a1394a0986acf86361a704085897c08757.webp">
          <source type="image/jpg" srcset="/assets/front/landing/organic-cotton/faq2-956466a570c3a9aadae1079e501591852fecef176db3ae45cc0b6f1bd9fffc84.jpg">
          <img
            data-src="/assets/front/landing/organic-cotton/faq2-956466a570c3a9aadae1079e501591852fecef176db3ae45cc0b6f1bd9fffc84.jpg"
            alt="Frequently asked questions"
            class="lozad"
            src="/assets/front/landing/organic-cotton/faq2-956466a570c3a9aadae1079e501591852fecef176db3ae45cc0b6f1bd9fffc84.jpg"
            data-loaded="true">
        </picture>
        <div>
          <div class="fabric-faq__item">
            <p class="fabric-faq__question">What can you sew using organic cotton?</p>
            <p class="fabric-faq__answer">You can use organic cotton everywhere you would use its conventional counterpart. It is used to produce both woven and knitted fabrics, which you can use to create clothes, underwear, bed linen and home décor. Organic cotton fabrics are not only environmentally friendly but also safe for the skin. These fabrics do not irritate, even in the case of sensitive skin, do not sensitise and are safe even for the youngest. <br><br> Sewing using organic cotton is no different from sewing using conventional cotton. Both woven and knitted fabrics made from organic cotton are easy and pleasant to sew, machine washable, as well as pleasant to the touch and airy.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="cta-btn">
      <a class="text_link" href="/en/how-to-start">Learn more</a>
      <a class="btn_pink" href="/en/buy-now">BUY NOW</a>
    </div>
  </div>



  <section class="container landing margin full">

    <div class="seo first">

      <h2 class="seo__title">What is organic cotton?</h2>

      <div class="seo__wrapper">
        <div class="seo__content">

          <p class="seo__text">Organic cotton is a great fibre for every fashion lover who is not indifferent to the natural environment. Sourced in an environmentally sustainable way, organic cotton is a great alternative to conventional fibre, the crops of which consume huge amounts of water. Organic cotton is grown without GMOs, pesticides and insecticides. Still, wondering which fibre will be better - organic cotton or conventional cotton? Organic cotton clothes are just as pleasant to wear as conventional cotton clothes. Organic cotton is easy to sew, easy to care for and airy. Organic cotton clothes are ideal for sensitive skin - the material they are made of is free from any harmful chemicals, and thus will not sensitize or irritate even sensitive skin. <br><br>

          </p>
          <p class="seo__text">Our printing on organic cotton does not affect the ecological balance. We use pigments in accordance with the requirements of the GOTS 6.0 certificate and all our printing technology is certified. Digitally printed organic cotton is an environmentally friendly material for sewing and all creative applications, which perfectly fits the eco-trend. Take care of the environment and choose unique, printed organic cotton!</p>

        </div>

        <img src="https://ctnbee.com/media/instagram_eko_350x350.jpg" alt="printing on organic cotton">

      </div>
    </div>

    <div class="seo">

      <h2 class="seo__title">Why is organic cotton clothing more expensive?</h2>

      <div class="seo__wrapper">
        <div class="seo__content full">

          <p class="seo__text">Organic cotton clothing is made of fibre, the production process of which is friendly to humans and the natural environment. When growing organic cotton, no insecticides or pesticides are used in order not to contaminate local water reservoirs and not to expose farmers working in the fields to harmful chemicals. Organic cotton is also 80% watered with rainwater, which must be properly harvested, so growing organic cotton is a slightly more complicated process than growing conventional cotton. This, of course, translates into the price of the fibre itself. Organic cotton garments may therefore cost a little more than their conventional cotton counterparts. However, when you choose organic cotton clothes, you know that you are focusing on quality and you get a product that does not violate the ecological balance.

          </p>



        </div>
      </div>
    </div>

    <div class="seo last">

      <h2 class="seo__title">Organic cotton or conventional cotton - what to choose?</h2>

      <div class="seo__wrapper">

        <img src="https://ctnbee.com/media/instagram_470970884_350x350.jpg" alt="organic cotton bag">

        <div class="seo__content">

          <p class="seo__text">Both organic and conventional cotton are excellent fibers with a wide range of applications. Whichever fiber you choose, you are dealing with a material that is natural, airy and gentle on the skin. Both cotton fabrics and knitted fabrics are easy and pleasant to sew, and their care is not complicated. Both organic cotton and conventional cotton work great in applications for everyday use, i.e. clothes, underwear, bedding. Organic cotton is a great material for clothing, especially in the case of the sensitive skin of an allergy sufferer - it is a fiber free of any chemical substances that can potentially irritate or sensitize. Organic cotton will be perfect for all applications for the youngest, i.e. clothes, blankets, bedding, toys. Conventional cotton can be the perfect choice for interior decoration or to make unique accessories made of natural fibers.
          </p>


          <p class="seo__text">Do you want to change your wardrobe or refresh your interior design? Printing on organic cotton fabric will allow you to create one-of-a-kind clothes or home decorations. The print on the fabric can be easily adapted to the interior design so that the decorative accents perfectly harmonize with the furniture and the color of the walls. You can introduce patterned accessories to your wardrobe that will emphasize your style. The textile printing house will let you unleash your creativity. Create unusual sewing materials - fabric prints can present any motifs and patterns, you can also apply photos, reproductions of artistic works or typography on the fabrics.!</p>

        </div>
      </div>
    </div>

  </section>



</div>

{% schema %}
  {
    "name": "GOTS fabrics",
    "presets": [
      {
        "name": "GOTS fabrics"
      }
    ]
  }
{% endschema %}