<div class="main_container">
  <div class="container xl">
    <section class="header-plain">
      <h1 class="main-title">Pricing</h1>
      <p class="intro-text">No matter what design or colour you choose, you pay only for ordered fabric.<br>No minimum orders, no set up fees, no extra costs.</p>
    </section>
  </div>
</div>
{% schema %}
  {
    "name": "Listing top",
    "presets": [
      {
        "name": "Listing top"
      }
    ]
  }
{% endschema %}