<div class="main_container">
  <section class="header-custom">
    <div class="container">
      <h1 class="header-custom__title">How to print your own sewing fabric?</h1>
      <p class="header-custom__text">It's easy! See how to print your own original sewing fabric in 4 steps. We print digitally on sewing fabrics - woven and knitted. Fabrics on which we print are OEKO-TEX certified.
        <b>99% of our orders are printed and sent within 5 working days.</b>
        We invite you to a creative adventure!</p>
      <p class="header-custom__link js-open-modal">
        <i class="zmdi zmdi-play-circle-outline"></i>See video</p>
    </div>
  </section>

  <section class="bg-mint">
    <div class="wrapper">
      <div class="content">
        <p class="step">STEP 1</p>
        <p class="title">Choose the fabric</p>
        <p class="text">You can choose from fabrics with different weaves, textures and grammages. All woven and knitted fabrics on which we print patterns are either conventional cotton, organic cotton or polyester. We carefully select the suppliers of fabrics - we are confident that our materials are produced in an ethical and environmentally friendly manner. You can't make up your mind?</p>
        <div class="delivery">
          <span class="icon-delivery-pink"></span>
          <p class="delivery__text">Order woven fabric and knitwear sampler for 1,99 EUR/GBP.<br>Delivery FREE!</p>
        </div>
        <a class="btn_pink buy_sampler_link" href="">ORDER SAMPLER</a>
      </div>
      <div class="step-img">
        <picture>
          <source type="image/webp" srcset="https://ctnbee.com/assets/front/landing/how_start/step1-en-9255ddc897af56b15db27d6a0f83fdf7f9fa901235c1a432cba9506e0c256469.webp">
          <source type="image/png" srcset="/assets/front/landing/how_start/step1-en-a36578cf2d11ae4c3bf46d60304994dd7a721a73c16f4b8cd682b7555184fa8e.png">
          <img
            data-src="/assets/front/landing/how_start/step1-en-a36578cf2d11ae4c3bf46d60304994dd7a721a73c16f4b8cd682b7555184fa8e.png"
            alt="CottonBee fabrics Swatch book"
            class="lozad"
            src="/assets/front/landing/how_start/step1-en-a36578cf2d11ae4c3bf46d60304994dd7a721a73c16f4b8cd682b7555184fa8e.png"
            data-loaded="true">
        </picture>
      </div>
    </div>
    <div class="icon-box">
      <i class="zmdi zmdi-chevron-down"></i>
    </div>
  </section>

  <section class="bg-white">
    <div class="wrapper">
      <div class="content">
        <p class="step">STEP 2</p>
        <p class="title">Design your pattern</p>
        <p class="text">Draw and send your original design to print on fabric and then upload it to our application! You don't have your own pattern? We have a comprehensive catalogue with over a million options. The most beautiful designs are grouped into thematic collections. Exotic flowers, wild animals or maybe geometric patterns? Find out which style you fancy the most!</p>
        <p class="text bold">Would you like to start your adventure with patterns on fabric?</p>
        <div class="btn-wrapper">
          <a class="btn_pink" href="/pages/upload">UPLOAD FILES</a>
          <p class="text bold">or</p>
          <a class="btn_white" href="/en/collections/fabric">BROWSE PATTERN COLLECTION</a>
        </div>
      </div>
      <div class="step-img">
        <source type="image/webp" srcset="/assets/front/landing/how_start/step2-dc8d151983f44b9eb3a53420ee4da47f0c18c562b5dbca7aa28c2b5ba2cf5dcc.webp">
        <source type="image/png" srcset="/assets/front/landing/how_start/step2-19f5c5aaa8b050e0441d041fc0ef13f0fd0b98fd44c5cf2609b05549a8b9e713.png">
        <img
          data-src="/assets/front/landing/how_start/step2-19f5c5aaa8b050e0441d041fc0ef13f0fd0b98fd44c5cf2609b05549a8b9e713.png"
          alt="T-shirt with your own pattern"
          class="lozad"
          src="https://ctnbee.com/assets/front/landing/how_start/step2-19f5c5aaa8b050e0441d041fc0ef13f0fd0b98fd44c5cf2609b05549a8b9e713.png"
          data-loaded="true">
      </div>
    </div>
    <div class="icon-box">
      <i class="zmdi zmdi-chevron-down"></i>
    </div>
  </section>

  <section class="bg">
    <div class="wrapper">
      <div class="content">
        <p class="step">STEP 3</p>
        <p class="title">Buy as much as you want</p>
        <p class="text">We do not have the maximum order size limit. We do not prepare expensive printing forms, nor do we charge for additional colours. We can even print a piece of your fabric! If you want to try out any pattern, order a 20x20 cm sample - it costs only 2,49 EUR/GBP. You can start printing more at any time! A running metre of fabric with a print starts at 16,90 EUR.</p>
        <div class="icon-wrapper">
          <div
            class="icon-item"
            data-id="bg-sampler"
            data-src="/assets/front/landing/how_start/step3-sampler-688934133c69d544b1f5295ecce3318388b3d786466d16e8b1aff48fffdb6d65.png">
            <img
              data-src="/assets/front/landing/how_start/step3-icon-sampler-873efcb4d9e306d74b0df7f0bcef60f515617445858e4da0d2ad2b64b4bc665b.png"
              class="lozad"
              src="https://ctnbee.com/assets/front/landing/how_start/step3-icon-sampler-873efcb4d9e306d74b0df7f0bcef60f515617445858e4da0d2ad2b64b4bc665b.png"
              data-loaded="true">
            <p class="text">
              <b>Sample</b>
              <br> 20 x 20 cm <br> 2,49 EUR</p>
          </div>
          <div
            class="icon-item"
            data-id="bg-swatch"
            data-src="/assets/front/landing/how_start/step3-swatch-812f63ca38c858a29d668e701b7c6cf28f6df46c4c2b9b9a22931ad3c68a0255.png">
            <img
              data-src="/assets/front/landing/how_start/step3-icon-swatch-e1fae547ec4e044cac961dfa20947ea6865466d7e1917acd8672649c8fdc06d2.png"
              class="lozad"
              src="https://ctnbee.com/assets/front/landing/how_start/step3-icon-swatch-e1fae547ec4e044cac961dfa20947ea6865466d7e1917acd8672649c8fdc06d2.png"
              data-loaded="true">
            <p class="text">
              <b>Coupon</b>
              <br> 48 x 48 cm <br> 4,99 EUR</p>
          </div>
          <div
            class="icon-item active"
            data-id="bg-metre"
            data-src="/assets/front/landing/how_start/step3-metre-81f6799af09544fce270efbc4479fcd8280ca3018def7332bcd1e8b2a40cd74a.png">
            <img
              data-src="/assets/front/landing/how_start/step3-icon-metre-72aab49a936273458cc256a809195292f371f6157c9443eb58cd26df211ddd10.png"
              class="lozad"
              src="https://ctnbee.com/assets/front/landing/how_start/step3-icon-metre-72aab49a936273458cc256a809195292f371f6157c9443eb58cd26df211ddd10.png"
              data-loaded="true">
            <p class="text">
              <b>Metre</b>
              <br> 145 - 156 cm x 100 cm <br> from 16,90 EUR</p>
          </div>
        </div>
      </div>
      <div class="step-img js-step-img">
        <img src="https://ctnbee.com/assets/front/landing/how_start/step3-metre-81f6799af09544fce270efbc4479fcd8280ca3018def7332bcd1e8b2a40cd74a.png" alt="Custom fabric no minimum order">
      </div>
    </div>
    <div class="icon-box">
      <i class="zmdi zmdi-chevron-down"></i>
    </div>
  </section>

  <section class="bg-grey">
    <div class="wrapper">
      <div class="content">
        <p class="step">STEP 4</p>
        <p class="title">Enjoy the unique fabric</p>
        <p class="text">Woven and knitted fabrics are custom-made. The entire process can take as little as 3 working days from the moment of transferring the order to fulfilment. We make every effort to ensure that you will get your fabric as soon as possible.  Printed textiles are sent to you in a colourful package, and you can start sewing!</p>
        <div class="delivery items">
          <span class="icon icon-calendar-pink"></span>
          <p class="delivery__text">Order processing from 3 business days</p>
        </div>
        <div class="delivery items">
          <span class="icon icon-colors-pink"></span>
          <p class="delivery__text">Unlimited number of colours in the project</p>
        </div>
        <div class="delivery items">
          <span class="icon icon-package-pink"></span>
          <p class="delivery__text">Courier shipping from 9,90 EUR/GBP</p>
        </div>

      </div>
      <div class="step-img">
        <source type="image/webp" srcset="/assets/front/landing/how_start/step4-8a620de0f6dcf5015a6db653758f91aef36fc4097c613762a7a0aa556d541863.webp">
        <source type="image/png" srcset="/assets/front/landing/how_start/step4-e779bb599e4fdcbe146a844c7244b3f27c9e7910af4310869ef96175c4c0611c.png">
        <img
          data-src="/assets/front/landing/how_start/step4-e779bb599e4fdcbe146a844c7244b3f27c9e7910af4310869ef96175c4c0611c.png"
          alt="Custom fabric printed on demand"
          class="lozad"
          src="https://ctnbee.com/assets/front/landing/how_start/step4-e779bb599e4fdcbe146a844c7244b3f27c9e7910af4310869ef96175c4c0611c.png"
          data-loaded="true">
      </div>
    </div>
  </section>

  <section class="header-custom">
    <div class="container">
      <h2 class="header-custom__title">Have you figured out what you want to print already?</h2>
      <p class="header-custom__text">At CottonBee, there are no limits to creativity. Print whatever you want on the fabric- your own design or one of over a million designs from the catalogue. Choose one of the options below:</p>
    </div>
  </section>

  <section class="container buy-now">
    <div class="buynow">
      <div class="buynow__content left">
        <h3 class="buynow__title">Print your pattern</h3>
        <p class="buynow__text">Create your own original sewing fabric! Design the graphic art that you will upload to our application, and we will print it on the woven fabric or knitwear of your choice.</p>
        <a class="btn_pink" href="/pages/upload">UPLOAD FILES</a>
      </div>
      <a class="buynow__link" href="/pages/upload">
        <img
          src="https://ctnbee.com/assets/front/icons/icon-upload2-21e7e34caf69066231511abb2382b8676af68afdd9d84b79ac3f6b12d7a34c0c.png"
          alt="fabric printing - upload file"
          class="fabric-categories__img">
      </a>
    </div>

    <div class="buynow">
      <div class="buynow__img">
        <picture>
          <source type="image/webp" srcset="https://ctnbee.com/assets/front/landing/buynow/buynow-img-9349d0964e8805091a0184daf4cc392ccc2b33d8a9ca9bbc1ded26b61ef75cd1.webp">
          <source type="image/png" srcset="/assets/front/landing/buynow/buynow-img-644f4867900198884e75edf7a12ac395de8a1fe3c93cf194847b865cafe4165a.png">
          <img
            data-src="/assets/front/landing/buynow/buynow-img-644f4867900198884e75edf7a12ac395de8a1fe3c93cf194847b865cafe4165a.png"
            alt="CottonBee"
            class="lozad"
            src="/assets/front/landing/buynow/buynow-img-644f4867900198884e75edf7a12ac395de8a1fe3c93cf194847b865cafe4165a.png"
            data-loaded="true">
        </picture>
      </div>
      <div class="buynow__content right">
        <h3 class="buynow__title">Browse the collection of patterns</h3>
        <p class="buynow__text">Our catalogue consists of more than a million diverse seamless patterns to choose from. We group them into thematic collections to inspire you and facilitate making this fun decision.</p>
        <a class="btn_pink" href="/en/collections/fabric">BROWSE PATTERN COLLECTIONS</a>
      </div>
    </div>
  </section>

  <div
    id="video"
    class="modal"
    style="display: none;">
    <div class="modal__body">
      <div class="modal__header">
        <span class="modal__close js-close-modal">X</span>
      </div>
      <div class="modal__body">
        <div class="iframe_wrapper">
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/jd1ZPjF3zOY?mute=1"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""></iframe>
        </div>
      </div>
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Print Steps",
    "presets": [
      {
        "name": "Print Steps"
      }
    ]
  }
{% endschema %}